<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close(result)" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Stats Banner: Updates every 24 hours!</h4>
    </div>
    <div class="modal-body text-center">
        <img ng-src="http://honbot.com/banner/{{nickname}}/">
        <p>
            <h4>BB Code (forums)</h4>
            <code>[url=http://api.honbot.com/player/{{nickname}}/][img]http://api.honbot.com/banner/{{nickname}}/[/img][/url]</code>
            <h4>Direct Link</h4>
            <code>http://api.honbot.com/banner/{{nickname}}/</code>
        </p>
    </div>
</div>