<div ng-include="'components/navbar/navbar.html'"></div>

<header class="player-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <h3>
                    <img class="pull-left" style="margin-top: -20px; margin-right: 5px;" ng-src="assets/images/maps/{{ match.map_used || 'caldavar' }}.jpg" width="60">
                    Match: {{ match._id }}
                </h3>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Winner</h4>{{ winner }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Type</h4>
                    <span ng-if="match.mode == 'rnk'">Ranked</span>
                    <span ng-if="match.mode == 'cs'">Casual</span>
                    <span ng-if="match.mode == 'acc'">Public</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Duration</h4>
                    <span ng-show="len.h > 0">{{ len.h }}:</span>{{ len.m }}:{{ len.s }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <br>
                    <span am-time-ago="match.date" data-title="{{ match.date | date:'MMM d, y h:mm a' }}" data-placement="bottom" bs-tooltip></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-match align-right align-left-items">
                <thead>
                    <tr>
                        <th title="Player">Player</th>
                        <th title="Items">Items</th>
                        <th title="Level">lvl</th>
                        <th title="Kills">K</th>
                        <th title="Deaths">D</th>
                        <th title="Assists">A</th>
                        <th title="Kill Death Ratio">KDR</th>
                        <th title="Creep Kills">CK</th>
                        <th title="Creep Denies">CD</th>
                        <th title="Gold Per Minute">GPM</th>
                        <th title="Experience per minute">XP</th>
                        <th title="Actions Per Minute">APM</th>
                        <th title="Wards">W</th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key, t) in [1, 2]">
                    <tr ng-repeat="(key, player) in match.players | filter:{team: t}" class="player-{{ player.position }}-row">
                        <td>
                            <a class="heroicon"
                               href="/hero/{{ player.hero_id }}/"
                               data-title="{{ hero_names[player.hero_id].disp_name }}"
                               bs-tooltip>
                                <img ng-src="assets/images/heroes/{{ player.hero_id }}/icon_128.jpg" width="30">
                            </a>
                            <a ng-href="/player/{{ player.nickname }}/"
                               data-trigger="hover"
                               bs-popover="ptips[player.id]"
                               data-animation="am-flip-x"
                               data-html="true">
                                {{ player.nickname }}
                            </a>
                            {{ pmmr[player.id] }}
                        </td>
                        <td>
                            <a ng-repeat="(key, i) in player.items" 
                               class="itemicon"
                               href="/item/{{ i }}/"
                               data-title="<strong>{{ item_names[i].name }}</strong> <span style='color: gold'>{{ item_names[i].cost }}</span>"
                               data-content="{{ item_names[i].description }}"
                               data-html="True"
                               data-trigger="hover"
                               bs-popover>
                                <img style="width:30px;" ng-src='assets/images/items/{{ i }}.jpg'>
                            </a>
                        </td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.kills }}</td>
                        <td>{{ player.deaths }}</td>
                        <td>{{ player.assists }}</td>
                        <td>{{ player.kdr | number:1 }}</td>
                        <td>{{ player.cs }}</td>
                        <td>{{ player.denies }}</td>
                        <td>{{ player.gpm | number:0 }}</td>
                        <td>{{ player.xpm | number:0 }}</td>
                        <td>{{ player.apm | number:0 }}</td>
                        <td>{{ player.wards }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading"><h4 class="text-center">Hero Damage</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <pie data="match.players" data-team="'1'"></pie>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <pie data="match.players" data-team="'2'"></pie>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading">
                    <h4 class="text-center" placement="bottom">Gold Per Minute</h4>
                </div>
                <div class="panel-body graph-padding">
                    <gpm data="match.players"></gpm>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading">
                    <h4 class="text-center">Team Totals</h4>
                </div>
                <div class="panel-body graph-padding">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <h4 class="text-center">Kills</h4>
                            <donut data="match.players" data-focus="'kills'"></donut>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <h4 class="text-center">Deaths</h4>
                            <donut data="match.players" data-focus="'deaths'"></donut>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <h4 class="text-center">XPM</h4>
                            <donut data="match.players" data-focus="'xpm'"></donut>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <h4 class="text-center">XPM</h4>
                            <donut data="match.players" data-focus="'cs'"></donut>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <h4 class="text-center">XPM</h4>
                            <donut data="match.players" data-focus="'gpm'"></donut>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <h4 class="text-center">APM</h4>
                            <donut data="match.players" data-focus="'apm'"></donut>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="list-inline home-inline">
                <li class="text-muted">HoN Version: {{match.version}}</li>
                <li class="text-muted"><a href="{{ BaseUrl }}/match/{{ match_id }}/">Raw Data</a></li>
            </ul>
        </div>
    </div>
</div>