{% extends 'base.html' %}

{% block page_title %}Advanced Stats | HonBot {% endblock %}

{% block main_content %}
<br>
<div class="container">
    <div class="row">
        <div class="span12 text-center">
            <h1>Average APM</h1>
            <hr>
            <div class="row">
                <div class="span12 stats-title">
                    <div id="lapm" style=" height: 400px; margin: 0 auto"></div>
                    <div id="hapm" style=" height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12 well">
            <h1 class="text-center">Useage</h1>
            <hr class="soften">
            <div class="row">
                <div class="span2 offset1">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/0.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.0 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.0}}/"><h4 class="pull-left">{{ data.players.0 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.0}}</li>
                        <li>Pause: {{ data.pause.0}}</li>
                        <li>Remake: {{ data.remake.0}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.0 }}/ability1_128.jpg">: {{ data.ability.0.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.0 }}/ability2_128.jpg">: {{ data.ability.0.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.0 }}/ability3_128.jpg">: {{ data.ability.0.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.0 }}/ability4_128.jpg">: {{ data.ability.0.3 }}</li>
                        <li>Taunt: {{ data.ability.0.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/1.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.1 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.1}}/"><h4 class="pull-left">{{ data.players.1 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.1}}</li>
                        <li>Pause: {{ data.pause.1}}</li>
                        <li>Remake: {{ data.remake.1}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.1 }}/ability1_128.jpg">: {{ data.ability.1.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.1 }}/ability2_128.jpg">: {{ data.ability.1.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.1 }}/ability3_128.jpg">: {{ data.ability.1.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.1 }}/ability4_128.jpg">: {{ data.ability.1.3 }}</li>
                        <li>Taunt: {{ data.ability.1.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/2.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.2 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.2}}/"><h4 class="pull-left">{{ data.players.2 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.2}}</li>
                        <li>Pause: {{ data.pause.2}}</li>
                        <li>Remake: {{ data.remake.2}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.2 }}/ability1_128.jpg">: {{ data.ability.2.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.2 }}/ability2_128.jpg">: {{ data.ability.2.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.2 }}/ability3_128.jpg">: {{ data.ability.2.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.2 }}/ability4_128.jpg">: {{ data.ability.2.3 }}</li>
                        <li>Taunt: {{ data.ability.2.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/3.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.3 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.3}}/"><h4 class="pull-left">{{ data.players.3 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.3}}</li>
                        <li>Pause: {{ data.pause.3}}</li>
                        <li>Remake: {{ data.remake.3}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.3 }}/ability1_128.jpg">: {{ data.ability.3.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.3 }}/ability2_128.jpg">: {{ data.ability.3.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.3 }}/ability3_128.jpg">: {{ data.ability.3.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.3 }}/ability4_128.jpg">: {{ data.ability.3.3 }}</li>
                        <li>Taunt: {{ data.ability.3.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/4.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.4 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.4}}/"><h4 class="pull-left">{{ data.players.4 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.4}}</li>
                        <li>Pause: {{ data.pause.4}}</li>
                        <li>Remake: {{ data.remake.4}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.4 }}/ability1_128.jpg">: {{ data.ability.4.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.4 }}/ability2_128.jpg">: {{ data.ability.4.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.4 }}/ability3_128.jpg">: {{ data.ability.4.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.4 }}/ability4_128.jpg">: {{ data.ability.4.3 }}</li>
                        <li>Taunt: {{ data.ability.4.4 }}</li>
                    </ul>
                </div>
                <div class="span2 offset1">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/5.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.5 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.5}}/"><h4 class="pull-left">{{ data.players.5 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.5}}</li>
                        <li>Pause: {{ data.pause.5}}</li>
                        <li>Remake: {{ data.remake.5}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.5 }}/ability1_128.jpg">: {{ data.ability.5.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.5 }}/ability2_128.jpg">: {{ data.ability.5.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.5 }}/ability3_128.jpg">: {{ data.ability.5.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.5 }}/ability4_128.jpg">: {{ data.ability.5.3 }}</li>
                        <li>Taunt: {{ data.ability.5.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/6.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.6 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.6}}/"><h4 class="pull-left">{{ data.players.6 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.6}}</li>
                        <li>Pause: {{ data.pause.6}}</li>
                        <li>Remake: {{ data.remake.6}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.6 }}/ability1_128.jpg">: {{ data.ability.6.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.6 }}/ability2_128.jpg">: {{ data.ability.6.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.6 }}/ability3_128.jpg">: {{ data.ability.6.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.6 }}/ability4_128.jpg">: {{ data.ability.6.3 }}</li>
                        <li>Taunt: {{ data.ability.6.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/7.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.7 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.7}}/"><h4 class="pull-left">{{ data.players.7 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.7}}</li>
                        <li>Pause: {{ data.pause.7}}</li>
                        <li>Remake: {{ data.remake.7}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.7 }}/ability1_128.jpg">: {{ data.ability.7.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.7 }}/ability2_128.jpg">: {{ data.ability.7.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.7 }}/ability3_128.jpg">: {{ data.ability.7.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.7 }}/ability4_128.jpg">: {{ data.ability.7.3 }}</li>
                        <li>Taunt: {{ data.ability.7.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/8.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.8 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.8}}/"><h4 class="pull-left">{{ data.players.8 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.8}}</li>
                        <li>Pause: {{ data.pause.8}}</li>
                        <li>Remake: {{ data.remake.8}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.8 }}/ability1_128.jpg">: {{ data.ability.8.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.8 }}/ability2_128.jpg">: {{ data.ability.8.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.8 }}/ability3_128.jpg">: {{ data.ability.8.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.8 }}/ability4_128.jpg">: {{ data.ability.8.3 }}</li>
                        <li>Taunt: {{ data.ability.8.4 }}</li>
                    </ul>
                </div>
                <div class="span2">
                    <div class="clearfix content-heading marketing">
                        <img class="pull-left playercolor" src='/static/img/p/9.jpg'>
                        <img class="pull-left playercolor" src='/static/img/heroes/{{ data.hero.9 }}/icon_128.jpg'>
                        <a href="/player/{{data.players.9}}/"><h4 class="pull-left">{{ data.players.9 }}</h4></a>
                    </div>
                    <ul class="unstyled">
                        <strong>Call Vote</strong>
                        <li>CC: {{ data.cc.9}}</li>
                        <li>Pause: {{ data.pause.9}}</li>
                        <li>Remake: {{ data.remake.9}}</li>
                        <strong>Ability Use</strong>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.9 }}/ability1_128.jpg">: {{ data.ability.9.0 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.9 }}/ability2_128.jpg">: {{ data.ability.9.1 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.9 }}/ability3_128.jpg">: {{ data.ability.9.2 }}</li>
                        <li><img style="width: 20px" class="pull-left" src="/static/img/heroes/{{ data.hero.9 }}/ability4_128.jpg">: {{ data.ability.9.3 }}</li>
                        <li>Taunt: {{ data.ability.9.4 }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#lapm').highcharts({
        chart: {
            type: 'line',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        plotOptions: {
            line: {
                animation: false
            }
        },
        title: {
            text: 'Legion'
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        credits: {
            enabled: false
        },
        yAxis: {
            title: {
                text: false
            },
        },
        xAxis: {
            labels: {
                formatter: function() {
                    return this.value * 3 + 'm';
                }
            }
        },
        colors: ['#003fe2', '#00c19e', '#5d0072', '#e1df72', '#ff7d29', '#e00707'],
        tooltip: {
            formatter: function() {
                var c = ['#003fe2', '#00c19e', '#5d0072', '#e1df72', '#ff7d29', '#e00707']
                var s = '<b>'+ this.x * 3 + 'min' +'</b>';
                
                $.each(this.points, function(i, point) {
                    s += '<br/>' + '<span style=' + '"' + 'color:' + c[i] + '">'  + point.series.name +': '+
                        point.y + '</span>';
                });
                
                return s;
            },
            crosshairs: true,
            shared: true
        },
        series: [{
            name: '{{ data.players.0 }}',
            data: [{% for a in data.apm.0 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.1 }}',
            data: [{% for a in data.apm.1 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.2 }}',
            data: [{% for a in data.apm.2 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.3 }}',
            data: [{% for a in data.apm.3 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.4 }}',
            data: [{% for a in data.apm.4 %}{{ a }},{% endfor %}]
        }, {
            name: 'Team Average',
            data: [{% for a in data.lapm %}{{ a }},{% endfor %}]
        }]
    });
});
</script>
<script>
$(function () {
    $('#hapm').highcharts({
        chart: {
            type: 'line',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        plotOptions: {
            line: {
                animation: false
            }
        },
        title: {
            text: 'Hellborne'
        },
        credits: {
            enabled: false
        },
        yAxis: {
            title: {
                text: false
            },
        },
        xAxis: {
            labels: {
                formatter: function() {
                    return this.value * 3 + 'm';
                }
            }
        },
        colors: ['#ff44ab', '#959698', '#4cc3ee', '#006448', '#562507', '#1f9400'],
        tooltip: {
            formatter: function() {
                var c = ['#ff44ab', '#959698', '#4cc3ee', '#006448', '#562507', '#1f9400']
                var s = '<b>'+ this.x * 3 + 'min' +'</b>';
                
                $.each(this.points, function(i, point) {
                    s += '<br/>'+ '<span style=' + '"' + 'color:' + c[i] + '">' + point.series.name +': '+
                        point.y +'m' + '</span>';
                });
                
                return s;
            },
            crosshairs: true,
            shared: true
        },
        series: [{
            name: '{{ data.players.5 }}',
            data: [{% for a in data.apm.5 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.6 }}',
            data: [{% for a in data.apm.6 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.7 }}',
            data: [{% for a in data.apm.7 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.8 }}',
            data: [{% for a in data.apm.8 %}{{ a }},{% endfor %}]
        }, {
            name: '{{ data.players.9 }}',
            data: [{% for a in data.apm.9 %}{{ a }},{% endfor %}]
        }, {
            name: 'Team Average',
            data: [{% for a in data.hapm %}{{ a }},{% endfor %}]
        }]
    });
});
</script>

{% endblock main_content %}