<div class="modal fade" id="banner">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Stats Banner: Updates every 24 hours!</h4>
            </div>
            <div class="modal-body text-center">
                <p id="bannerpos"></p>
                <p>
                    <h4>BB Code (forums)</h4>
                    <code>[url=http://honbot.com/player/{{stats.nickname}}/]<br>[img]http://honbot.com/banner/{{stats.nickname}}/[/img][/url]</code>
                    <h4>Direct Link</h4>
                    <code>http://honbot.com/banner/{{stats.nickname}}/</code>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
$('#banner').one('show.bs.modal', function () {
  $('#bannerpos').append('<img src="/banner/{{stats.nickname}}/">');
});
</script>