{% extends 'base.html' %}

{% block page_title %}Player Brackets | HonBot HoN stats and Graphs {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul style="margin-top: -20px;" class="nav nav-pills nav-justified">
                <li><a href="/player/">Browse</a></li>
                <li><a href="/distribution/">Player Distribution</a></li>
                <li class="active"><a href="/distribution/">Player Brackets</a></li>
                <li><a href="/top/">7-Day High Score</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Kills</h4></div>
                <div class="panel-body">
                    <div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Deaths</h4></div>
                <div class="panel-body">
                    <div id="deaths" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">APM</h4></div>
                <div class="panel-body">
                    <div id="apm" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script>
$(function () {

    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.akills}}-{{bracket.stdkills}}), ({{bracket.akills}}+{{bracket.stdkills}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.akills}}],
            {% endfor %}
        ];


        $('#container').highcharts({
            chart:{
                backgroundColor: null,
            },
            title: {
                text: null
            },

            xAxis: {
                lineColor: '#4f4c50',
                tickColor: '#4f4c50',
            },
            yAxis: {
                title: {
                    text: null
                },
                gridLineColor: '#4f4c50',
            },
            credits: {enabled: false},
            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: null
            },

            legend: {
            },
            plotOptions: {
                series: {
                    animation: false
                }
            },
            tooltip: {
                 formatter: function() {
                    var s = '<b>'+ this.x +'</b>';
                        s += '<br/><b>'+ this.points[0].series.name +'</b>: '+ Math.round(this.points[0].y * 100) / 100;
                        s += '<br/><b>'+ this.points[1].series.name +'</b>: '+ Math.round(this.points[1].point.low * 100) / 100 + ' - ' + Math.round(this.points[1].point.high * 100) / 100;
                    return s;
                },
                shared: true
              },
            series: [{
                name: 'Average Kills',
                data: averages,
                showInLegend: false,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[2]
                },
                lineColor: Highcharts.getOptions().colors[2],
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });

});
</script>
<script>
$(function () {

    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.adeaths}}-{{bracket.stddeaths}}), ({{bracket.adeaths}}+{{bracket.stddeaths}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.adeaths}}],
            {% endfor %}
        ];


        $('#deaths').highcharts({
            chart:{
                backgroundColor: null,
            },
            title: {
                text: null
            },

            xAxis: {
                lineColor: '#4f4c50',
                tickColor: '#4f4c50',
            },
            yAxis: {
                title: {
                    text: null
                },
                gridLineColor: '#4f4c50',
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: null
            },

            legend: {
            },

            series: [{
                name: 'Average Kills',
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                }
            }, {
                name: 'Standard deviation',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });

});
</script>
<script>
$(function () {

    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.aactionsmin}}-{{bracket.stdactionsmin}}), ({{bracket.aactionsmin}}+{{bracket.stdactionsmin}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.aactionsmin}}],
            {% endfor %}
        ];


        $('#apm').highcharts({
            chart:{
                backgroundColor: null,
            },
            title: {
                text: null
            },

            xAxis: {
                lineColor: '#4f4c50',
                tickColor: '#4f4c50',
            },
            yAxis: {
                title: {
                    text: null
                },
                gridLineColor: '#4f4c50',
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: null
            },

            legend: {
            },

            series: [{
                name: 'Average Kills',
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                }
            }, {
                name: 'Standard deviation',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });

});
</script>
{% endblock %}