{% extends 'base.html' %}

{% block page_title %}Player Brackets | HonBot HoN stats and Graphs {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul style="margin-top: -20px;" class="nav nav-pills nav-justified">
                <li><a href="/player/">Browse</a></li>
                <li><a href="/distribution/">Player Distribution</a></li>
                <li class="active"><a href="/brackets/">Player Brackets</a></li>
                <li><a href="/top/">7-Day High Score</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h4>What?</h4>
                <p>The line on each graph represents the average for a block of 10 MMR and the colored area is the <a href="http://en.wikipedia.org/wiki/Standard_deviation">standard deviation</a>. Ask questions or give feedback <a href="http://forums.heroesofnewerth.com/showthread.php?489330-HonBot-com-Stats-Chat-Logs-Graphs">on the forums</a>. All data is ranked only. The colors don't represent anything.</p>
            </div>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Hero Kills</h4></div>
                <div class="panel-body">
                    <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Hero Deaths</h4></div>
                <div class="panel-body">
                    <div id="deaths" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Hero Assists</h4></div>
                <div class="panel-body">
                    <div id="assists" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Gold Per Minute (GPM)</h4></div>
                <div class="panel-body">
                    <div id="gpm" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Experince Per Minute (XPM)</h4></div>
                <div class="panel-body">
                    <div id="xpm" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Actions per Minute (APM)</h4></div>
                <div class="panel-body">
                    <div id="apm" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Creep Denies</h4></div>
                <div class="panel-body">
                    <div id="denies" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Creep Kills</h4></div>
                <div class="panel-body">
                    <div id="cs" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Wards</h4></div>
                <div class="panel-body">
                    <div id="wards" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script>
$(function () {
    Highcharts.setOptions({
        chart:{
                backgroundColor: null,
        },
        title: {
            text: null
        },

        xAxis: {
            lineColor: '#4f4c50',
            tickColor: '#4f4c50',
        },
        yAxis: {
            title: {
                text: null
            },
            gridLineColor: '#4f4c50',
        },
        credits: {enabled: false},
        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: null
        },

        legend: {
        },
        plotOptions: {
            series: {
                animation: false
            }
        },
        tooltip: {
             formatter: function() {
                var s = '<b>'+ this.x +'</b>';
                    s += '<br/><b>'+ this.points[0].series.name +'</b>: '+ Math.round(this.points[0].y * 100) / 100;
                    s += '<br/><b>'+ this.points[1].series.name +'</b>: '+ Math.round(this.points[1].point.low * 100) / 100 + ' - ' + Math.round(this.points[1].point.high * 100) / 100;
                return s;
            },
            shared: true
        }
    });
});
$(function () {

    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.akills}}-{{bracket.stdkills}}), ({{bracket.akills}}+{{bracket.stdkills}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.akills}}],
            {% endfor %}
        ];


        $('#container').highcharts({
            series: [{
                name: 'Average Kills',
                data: averages,
                showInLegend: false,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[8]
                },
                lineColor: Highcharts.getOptions().colors[8],
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[8],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });

});
$(function () {

    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.adeaths}}-{{bracket.stddeaths}}), ({{bracket.adeaths}}+{{bracket.stddeaths}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.adeaths}}],
            {% endfor %}
        ];


        $('#deaths').highcharts({

            series: [{
                name: 'Average Deaths',
                data: averages,
                showInLegend: false,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[4]
                },
                lineColor: Highcharts.getOptions().colors[4],
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[4],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });

});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.aassists}}-{{bracket.stdassists}}), ({{bracket.aassists}}+{{bracket.stdassists}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.aassists}}],
            {% endfor %}
        ];
        $('#assists').highcharts({

            series: [{
                name: 'Average Assists',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                }
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.axpm}}-{{bracket.stdxpm}}), ({{bracket.axpm}}+{{bracket.stdxpm}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.axpm}}],
            {% endfor %}
        ];
        $('#xpm').highcharts({
            series: [{
                name: 'Avg XPM',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[2]
                },
                lineColor: Highcharts.getOptions().colors[2]
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[2],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.agpm}}-{{bracket.stdgpm}}), ({{bracket.agpm}}+{{bracket.stdgpm}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.agpm}}],
            {% endfor %}
        ];
        $('#gpm').highcharts({
            series: [{
                name: 'Avg GPM',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: '#dfc900'
                },
                lineColor: '#dfc900'
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: '#dfc900',
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.aactionsmin}}-{{bracket.stdactionsmin}}), ({{bracket.aactionsmin}}+{{bracket.stdactionsmin}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.aactionsmin}}],
            {% endfor %}
        ];
        $('#apm').highcharts({
            series: [{
                name: 'Avg APM',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                },
                lineColor: Highcharts.getOptions().colors[0]
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.adenies}}-{{bracket.stddenies}}), ({{bracket.adenies}}+{{bracket.stddenies}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.adenies}}],
            {% endfor %}
        ];
        $('#denies').highcharts({
            yAxis: {
                min: 0
            },
            series: [{
                name: 'Avg Denies',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[6]
                },
                lineColor: Highcharts.getOptions().colors[6]
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[6],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.acs}}-{{bracket.stdcs}}), ({{bracket.acs}}+{{bracket.stdcs}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.acs}}],
            {% endfor %}
        ];
        $('#cs').highcharts({
            series: [{
                name: 'Avg CS',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[7]
                },
                lineColor: Highcharts.getOptions().colors[7]
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[7],
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
$(function () {
    var ranges = [
            {% for bracket in object_list %}
            [{{ bracket.mmr_bracket }}, ({{bracket.awards}}-{{bracket.stdwards}}), ({{bracket.awards}}+{{bracket.stdwards}})],
            {% endfor %}
        ],
        averages = [
            {% for bracket in object_list %}
                [{{ bracket.mmr_bracket }}, {{bracket.awards}}],
            {% endfor %}
        ];
        $('#wards').highcharts({
            yAxis: {
                min: 0
            },
            series: [{
                name: 'Avg Wards',
                showInLegend: false,
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'black',
                    lineWidth: 2,
                    lineColor: '#dc3ddf'
                },
                lineColor: '#dc3ddf'
            }, {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: '#dc3ddf',
                fillOpacity: 0.3,
                zIndex: 0
            }]

        });
});
</script>
{% endblock %}