{% extends 'base.html' %}

{% block page_title %}Match {{match_id}} Builds | HonBot HoN stats and Graphs {% endblock %}

{% block main_content %}
<header class="player-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <h2><img class="pull-left" src="/static/img/maps/{{ match.map }}.jpg">Match: {{ match_id }}</h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Winner</h4>{% if match.players.0.win %}Legion{% else %}Hellbourne{% endif %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Type</h4>{{ match.mode }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Duration</h4>{{ match.matchlength }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    {% load prettytimes_tags %}
                    <h4 style="margin-bottom: 2px;">Played</h4>{{ match.date|relative_time }}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/match/{{ match.match_id }}/">Overview</a></li>
                <li><a href="/chat/{{ match.match_id }}/">Chat Logs</a></li>
                <li class="active"><a href="/builds/{{ match.match_id }}/">Builds</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% for build in builds %}
    <div class="row">
        <div class="col-lg-12">
            <h3 style="margin-bottom: 0px;" class="player-{{build.position}}">
                <img style="padding-bottom: 6px; width: 45px;" src='/static/img/heroes/{{ build.hero }}/icon_128.jpg'> 
                <a href="/player/{{ build.nickname }}">{{ build.nickname }}</a>
            </h3>
            <div class="build-container">
                <div class="build-row">
                    <img src="/static/img/heroes/{{ build.hero }}/ability1_128.jpg">
                    <img src="/static/img/heroes/{{ build.hero }}/ability2_128.jpg">
                    <img src="/static/img/heroes/{{ build.hero }}/ability3_128.jpg">
                    <img src="/static/img/heroes/{{ build.hero }}/ability4_128.jpg">
                    <img src="/static/img/heroes/boost_50.gif">
                </div>
            {% for ability in build.json %}
                <div class="build-row">
                    <div {% if ability == 1 %}style="border-color: #000; background-color: #fff;"{% endif %} class="build-move {% if ability == 1 %}selected{% endif %}">{% if ability == 1 %}{{forloop.counter }}{% endif %}</div>
                    <div {% if ability == 2 %}style="border-color: #000; background-color: #fff;"{% endif %} class="build-move {% if ability == 2 %}selected{% endif %}">{% if ability == 2 %}{{forloop.counter }}{% endif %}</div>
                    <div {% if ability == 3 %}style="border-color: #000; background-color: #fff;"{% endif %} class="build-move {% if ability == 3 %}selected{% endif %}">{% if ability == 3 %}{{forloop.counter }}{% endif %}</div>
                    <div {% if ability == 4 %}style="border-color: #000; background-color: #fff;"{% endif %} class="build-move {% if ability == 4 %}selected{% endif %}">{% if ability == 4 %}{{forloop.counter }}{% endif %}</div>
                    <div {% if ability == 5 %}style="border-color: #000; background-color: #fff;"{% endif %} class="build-move {% if ability == 5 %}selected{% endif %}">{% if ability == 5 %}{{forloop.counter }}{% endif %}</div>
                </div>
        {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}