{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Stats | HonBot {% endblock %}

{% block main_content %}

<!-- Player Header -->
{% include 'player_head.html' %}

<!-- Player Navigation-->
{% include 'player_navigation.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 well">
                <p>Hello! Stats were analyzed from your last <strong>{{count}}</strong> matches.</p>
                {% load prettytimes_tags %}
                <p>Stats last updated: <strong>{{stats.updated|relative_time}}</strong></p>
                {%if count < 50%}<p>If fewer than 50 matches are being shown, try going back to the <a href="/player/{{ stats.nickname }}/">player stats page</a> and clicking "load more".</p>{%endif%}
                <p>This is currently being developed in my free time. Please be patient and as always <a href="https://forums.heroesofnewerth.com/showthread.php?489330-HonBot-com-Stats-Chat-Logs-Graphs">feedback is encouraged</a>.</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div id="mmr" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="text-center">Most Played Hero Averages</h4>
            <div class="row">
                {%for hero in heroes%}
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                        <div style="margin-bottom: 18px;" class="panel-heading text-center panel-hero"><img style="width:50px" src='/static/img/heroes/{{hero.hero}}/icon_128.jpg'></div>
                        <ul style="margin-top: -16px;" class="list-group">
                            <li class="list-group-item panel-hero">Times Played: <p class="pull-right">{{hero.used}}</p></li>
                            <li class="list-group-item panel-hero">Win - Loss: <p class="pull-right">{{ hero.wins }} - {{ hero.losses }}</span></p></li>
                            <li class="list-group-item panel-hero">Percent: <p class="pull-right">{%if hero.win_percent < 50%}<span class="text-danger">{%else%}<span class="text-success">{%endif%}{{hero.win_percent}}%</span></p></li>
                            <li class="list-group-item panel-hero">K/D/A: <p class="pull-right">{{hero.kills}}/{{hero.deaths}}/{{hero.assists}}</p></li>
                            <li class="list-group-item panel-hero">MMR +/-: {%if hero.mmr < 0%}<p class="pull-right text-danger">{%else%}<p class="pull-right text-success">{%endif%}{{hero.mmr}}</p></li>
                            <li class="list-group-item panel-hero">APM: <p class="pull-right">{{hero.apm}}</p></li>
                            <li class="list-group-item panel-hero">GPM: <p class="pull-right">{{hero.gpm}}</p></li>
                            <li class="list-group-item panel-hero">CS: <p class="pull-right">{{hero.cs}}</p></li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div id="apm" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-6">
                    <div id="gpm" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="text-center panel-title">Stats</h4></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Catagory</th>
                                <th class="text-right">Total</th>
                                <th class="text-right">Average</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Kills</strong></th>
                                <td class="text-right">{{kills}}</th>
                                <td class="text-right">{{akills}}</th>
                            </tr>
                            <tr>
                                <td><strong>Deaths</strong></th>
                                <td class="text-right">{{deaths}}</th>
                                <td class="text-right">{{adeaths}}</th>
                            </tr>
                            <tr>
                                <td><strong>Assists</strong></th>
                                <td class="text-right">{{assists}}</th>
                                <td class="text-right">{{aassists}}</th>
                            </tr>
                            <tr>
                                <td><strong>Creep Kills</strong></th>
                                <td class="text-right">{{cs}}</th>
                                <td class="text-right">{{acs}}</th>
                            </tr>
                            <tr>
                                <td><strong>Wards</strong></th>
                                <td class="text-right">{{wards}}</th>
                                <td class="text-right">{{awards}}</th>
                            </tr>
                            <tr>
                                <td><strong>Buildings</strong></th>
                                <td class="text-right">{{razed}}</th>
                                <td class="text-right">{{arazed}}</th>
                            </tr>
                            <tr>
                                <td><strong>MMR Change</strong></th>
                                <td class="text-right">{{mmr_change}}</th>
                                <td class="text-right">{{ammr_change}}</th>
                            </tr>
                            <tr>
                                <td><strong>Sec Dead</strong></th>
                                <td class="text-right">{{sdead}} min</th>
                                <td class="text-right">{{asdead}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="modal fade" id="banner">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Stats Banner: Updates every 24 hours!</h4>
            </div>
            <div class="modal-body text-center">
                <p id="bannerpos"></p>
                <p>
                    <h4>BB Code (forums)</h4>
                    <code>[url=http://honbot.com/player/{{stats.nickname}}/]<br>[img]http://honbot.com/banner/{{stats.nickname}}/[/img][/url]</code>
                    <h4>Direct Link</h4>
                    <code>http://honbot.com/banner/{{stats.nickname}}/</code>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock main_content %}
{%block js%}
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#mmr').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for m in match_list%}{{m}},{%endfor%}],
            labels:{enabled: false}
        },
        yAxis: [{
            title: {
                text: 'MMR',
                style:{
                    color: '#aedf16',
                    fontSize: '16px'
                }
            },
            plotLines: [{
                value: 0,
                width: 1,
            }]
        }],
        credits: {enabled: false},
        colors: ['#aedf16'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return '<strong>' + this.x + '</strong><br>' + Math.round(this.y*10)/10;
            },
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    animation: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = "/match/" + this.category + '/';
                            }
                        }
                    },
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'MMR',
            data: [{%for m in mmr%}{{m}},{%endfor%}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#apm').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for m in match_list%}{{m}},{%endfor%}],
            labels:{enabled: false}
        },
        yAxis: {
            title: {
                text: 'APM',
                style:{
                    color: '#aedf16',
                    fontSize: '16px'
                }
            },
            plotLines: [{
                color: '#FF0000',
                width: 2,
                value: {{aapm}}
            }]
        },
        credits: {enabled: false},
        colors: ['#1974FF'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return this.x + '<br><strong>APM</strong>: ' + Math.round(this.y*10)/10 + "<br><strong>Average</strong>: " + {{aapm}};
            },
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    animation: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = "/match/" + this.category + '/';
                            }
                        }
                    },
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'APM',
            data: [{%for m in apm%}{{m}},{%endfor%}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#gpm').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for m in match_list%}{{m}},{%endfor%}],
            labels:{enabled: false}
        },
        yAxis: {
            title: {
                text: 'GPM',
                style:{
                    color: '#aedf16',
                    fontSize: '16px'
                }
            },
            plotLines: [{
                color: '#FF0000',
                width: 2,
                value: {{agpm}}
            }]
        },
        credits: {enabled: false},
        colors: ['#AE00FF'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return '<strong>' + this.x + '</strong><br>' + Math.round(this.y*10)/10 + "<br>Average: " + {{agpm}};
            },
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    animation: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = "/match/" + this.category + '/';
                            }
                        }
                    },
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'GPM',
            data: [{%for m in gpm%}{{m}},{%endfor%}],
        }]
    });
});
</script>
<script>
$('#banner').one('show.bs.modal', function () {
  $('#bannerpos').append('<img src="/banner/{{stats.nickname}}/">')
});
</script>
{%endblock js%}