{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Analysis and Charts | HonBot {% endblock %}

{% block main_content %}

<!-- Player Header -->
{% include 'player_head.html' %}

<!-- Player Navigation -->
{% include 'player_navigation.html' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 well">
                <ul class="list-unstyled">
                    <li><strong>Matches Analyzed</strong>: {{ limit }}</li>
                    <li><strong>Matches in Database</strong>: {{ available }}</li>
                    <li><strong>Player Updated</strong>: {% load prettytimes_tags %}{{stats.updated|relative_time}}</li>
                </ul>
                <h6 class="text-center">- Filter Matches -</h6>
                <form id="limitform" class="form-inline text-center" role="form">
                  <div class="form-group">
                    <label class="sr-only" for="matchselect">Number of Matches</label>
                    <input type="number" class="form-control" id="limitinput" placeholder="# of Matches">
                  </div>
                  <button id="limitsubmit" class="btn btn-default">Go</button>
                </form>
            </div>
            <div style="padding-right:0" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div id="mmr" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
                <ul class="list-inline text-center text-muted">
                  <li><strong>Lowest:</strong> {{ mmrlow }}</li>
                  <li><strong>Highest:</strong> {{ mmrhigh }}</li>
                  <li><strong>Average:</strong> {{ mmravg }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                {%for hero in heroes%}
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="panel panel-default">
                        <div style="margin-bottom: 18px;" class="panel-heading text-center panel-hero">
                            <a class="heroicon" href="/hero/{{ hero.cli_name }}/" data-toggle="tooltip" title="{{ hero.disp_name }}">
                                <img class="" style="width:65px" src='/static/img/heroes/{{hero.hero}}/icon_128.jpg'>
                            </a>
                        </div>
                        <ul style="margin-top: -16px;" class="list-group">
                            <li class="list-group-item panel-hero">Times Played: <p class="pull-right">{{hero.used}}</p></li>
                            <li class="list-group-item panel-hero">Win - Loss: <p class="pull-right">{{ hero.wins }} - {{ hero.losses }}</span></p></li>
                            <li class="list-group-item panel-hero">Percent: <p class="pull-right">{%if hero.win_percent < 50%}<span class="text-danger">{%else%}<span class="text-success">{%endif%}{{hero.win_percent}}%</span></p></li>
                            <li class="list-group-item panel-hero">K/D/A: <p class="pull-right">{{hero.kills}}/{{hero.deaths}}/{{hero.assists}}</p></li>
                            <li class="list-group-item panel-hero">MMR +/-: {%if hero.mmr < 0%}<p class="pull-right text-danger">{%else%}<p class="pull-right text-success">{%endif%}{{hero.mmr}}</p></li>
                            <li class="list-group-item panel-hero">APM: <p class="pull-right">{{hero.apm}}</p></li>
                            <li class="list-group-item panel-hero">GPM: <p class="pull-right">{{hero.gpm}}</p></li>
                            <li class="list-group-item panel-hero">CS: <p class="pull-right">{{hero.cs}}</p></li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="well well-sm">
                <h4 class="text-center">APM</h4>
                <div id="apm" style="min-width: 310px; height: 100px; margin: 0 auto"></div>
                <ul class="list-inline text-center text-muted">
                  <li><strong>Lowest:</strong> {{ apm.min }}</li>
                  <li><strong>Highest:</strong> {{ apm.max }}</li>
                  <li><strong>Average:</strong> {{ apm.mean }}</li>
                  <br>
                  <li><strong>Lower Quartile:</strong> {{ apm.lower }}</li>
                  <li><strong>Median:</strong> {{ apm.median }}</li>
                  <li><strong>Upper Quartile:</strong> {{ apm.upper }}</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="well well-sm">
                <h4 class="text-center">GPM</h4>
                <div id="gpm" style="min-width: 310px; height: 100px; margin: 0 auto"></div>
                <ul class="list-inline text-center text-muted">
                  <li><strong>Lowest:</strong> {{ gpm.min }}</li>
                  <li><strong>Highest:</strong> {{ gpm.max }}</li>
                  <li><strong>Average:</strong> {{ gpm.mean }}</li>
                  <br>
                  <li><strong>Lower Quartile:</strong> {{ gpm.lower }}</li>
                  <li><strong>Median:</strong> {{ gpm.median }}</li>
                  <li><strong>Upper Quartile:</strong> {{ gpm.upper }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center panel-title">Stats</h4>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Catagory</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Average</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Kills</strong></th>
                            <td class="text-right">{{kills}}</th>
                            <td class="text-right">{{akills}}</th>
                        </tr>
                        <tr>
                            <td><strong>Deaths</strong></th>
                            <td class="text-right">{{deaths}}</th>
                            <td class="text-right">{{adeaths}}</th>
                        </tr>
                        <tr>
                            <td><strong>KDR</strong></td>
                            <td class="text-right">-</td>
                            <td class="text-right"><script>document.write(Math.round({{kills}} / {{deaths}} * 100) / 100);</script></td>
                        </tr>
                        <tr>
                            <td><strong>Assists</strong></th>
                            <td class="text-right">{{assists}}</th>
                            <td class="text-right">{{aassists}}</th>
                        </tr>
                        <tr>
                            <td><strong>Creep Kills</strong></th>
                            <td class="text-right">{{cs}}</th>
                            <td class="text-right">{{acs}}</th>
                        </tr>
                        <tr>
                            <td><strong>Wards</strong></th>
                            <td class="text-right">{{wards}}</th>
                            <td class="text-right">{{awards}}</th>
                        </tr>
                        <tr>
                            <td><strong>Buildings</strong></th>
                            <td class="text-right">{{razed}}</th>
                            <td class="text-right">{{arazed}}</th>
                        </tr>
                        <tr>
                            <td><strong>MMR Change</strong></th>
                            <td class="text-right">{{mmr_change}}</th>
                            <td class="text-right">{{ammr_change}}</th>
                        </tr>
                        <tr>
                            <td><strong>Time Dead</strong> <span class="text-muted">(minutes)</span></th>
                            <td class="text-right">{{sdead}} min</th>
                            <td class="text-right">{{asdead}} sec</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="text-center panel-title">Friends</h4></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Games</th>
                            <th class="text-right">Win</th>
                            <th class="text-right">Loss</th>
                            <th class="text-right">MMR +/-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in friends %}
                        <tr>
                            <td>
                                <strong>
                                    <a href="{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player/{{ friend.nickname }}/" class="player-hover" data-trigger="hover" data-pid="{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/ptip/{{ friend.player_id }}/">
                                        {{ friend.nickname }}
                                    </a>
                                </strong>
                            </th>
                            <td class="text-right">{{ friend.matches }}</th>
                            <td class="text-right">{{ friend.wins }}</th>
                            <td class="text-right">{{ friend.losses }}</th>
                            <td class="text-right {%if friend.mmr_change < 0%}text-danger{%else%}text-success{%endif%}">{{ friend.mmr_change }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="text-center panel-title">Opponents</h4></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Games</th>
                            <th class="text-right">Win</th>
                            <th class="text-right">Loss</th>
                            <th class="text-right">MMR +/-</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in enemies %}
                        <tr>
                            <td>
                                <strong>
                                    <a href="{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player/{{ friend.nickname }}/" class="player-hover" data-trigger="hover" data-pid="{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/ptip/{{ friend.player_id }}/">
                                        {{ friend.nickname }}
                                    </a>
                                </strong>
                            </th>
                            <td class="text-right">{{ friend.matches }}</th>
                            <td class="text-right">{{ friend.wins }}</th>
                            <td class="text-right">{{ friend.losses }}</th>
                            <td class="text-right {%if friend.mmr_change < 0%}text-danger{%else%}text-success{%endif%}">{{ friend.mmr_change }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% include 'banner.html' %}
{% endblock main_content %}
{%block js%}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script>
$(document).ready(function() {
    setTimeout(function(){
        $('.player-hover').each(function() {
            var e=$(this);
            $.get(e.data('pid'),function(d) {
                e.popover({content: d, html: true, delay: { show: 100, hide: 0 }});
            });
        });
    }, 800);
});
</script>
<script type="text/javascript">
  $("#limitform").submit(function () {
    var limit = $('#limitinput').val();
    var address = "/chart/" + "{{ stats.nickname }}" + "/" + limit + "/";
    window.location.href = address;
    return false;
  });
</script>
<script type="text/javascript">
  $("#limitsubmit").click(function () {
    var limit = $('#limitinput').val();
    var address = "/chart/" + "{{ stats.nickname }}" + "/" + limit + "/";
    window.location.href = address;
    return false;
  });
</script>
<script>
$('.heroicon').tooltip();
</script>
<script>
$(function () {
    $('#mmr').highcharts({
        chart:{
            backgroundColor: null,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for m in match_list%}{{m}},{%endfor%}],
            labels:{enabled: false},
            lineColor: '#4f4c50',
            tickColor: 'transparent'
        },
        yAxis: [{
            title: {
                text: 'MMR',
                style:{
                    color: '#dddddd',
                    fontSize: '16px'
                }
            },
            plotLines: [{
                value: 0,
                width: 1,
            }],
            gridLineColor: '#4f4c50'
        }],
        credits: {enabled: false},
        colors: ['#ded204'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return '<strong>' + this.x + '</strong><br>' + Math.round(this.y*10)/10;
            },
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    animation: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = "/match/" + this.category + '/';
                            }
                        }
                    },
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'MMR',
            data: [{%for m in mmr%}{{m}},{%endfor%}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#apm').highcharts({

        chart: {
            type: 'boxplot',
            inverted: true,
            backgroundColor: null,
            spacingTop: 0
        },
        title: {
            text: '',
            style:
                {
                    color: '#dddddd',
                    fontSize: '16px'
                }
        },
        legend: {
            enabled: false
        },
        xAxis: {
            labels:{enabled: false},
            lineColor: '#4f4c50',
            tickColor: 'transparent'
        },
        credits: {enabled: false},
        tooltip: {enabled: false},
        yAxis: {
            title: {
                text: ''
            },
            min: 0,
            gridLineColor: '#4f4c50'
        },
        colors: ['#995DB3'],
        plotOptions: {
            boxplot: {
                fillColor: 'transparent',
                lineWidth: 2,
                medianColor: '#995DB3',
                stemColor: '#995DB3',
                whiskerColor: '#995DB3'
            }

        },
        series: [{
            name: 'APM',
            animation: false,
            data: [
                [{{apm.min}}, {{apm.lower}}, {{apm.median}}, {{apm.upper}}, {{apm.max}}]
            ],
        }]

    });
});
</script>
<script>
$(function () {
    $('#gpm').highcharts({

        chart: {
            type: 'boxplot',
            inverted: true,
            backgroundColor: null,
            spacingTop: 0
        },
        title: {
            text: '',
            style:
                {
                    color: '#dddddd',
                    fontSize: '16px'
                }
        },
        legend: {
            enabled: false
        },
        xAxis: {
            labels:{enabled: false},
            lineColor: '#4f4c50',
            tickColor: 'transparent'
        },
        credits: {enabled: false},
        tooltip: {enabled: false},
        yAxis: {
            title: {
                text: ''
            },
            min: 0,
            gridLineColor: '#4f4c50'
        },
        colors: ['#2C9BDB'],
        plotOptions: {
            boxplot: {
                fillColor: 'transparent',
                lineWidth: 2,
                medianColor: '#2C9BDB',
                stemColor: '#2C9BDB',
                whiskerColor: '#2C9BDB',
            }

        },
        series: [{
            name: 'APM',
            animation: false,
            data: [
                [{{gpm.min}}, {{gpm.lower}}, {{gpm.median}}, {{gpm.upper}}, {{gpm.max}}]
            ],
        }]

    });
});
</script>
{%endblock js%}