{% extends 'base.html' %}

{% block page_title %}{{match_id}} Chat Logs | HonBot {% endblock %}

{% block main_content %}
<header class="player-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <h2><img class="pull-left" src="/static/img/maps/{{ match.map_used }}.jpg">Match: {{ match.match_id }}</h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Winner</h4>{% if players.0.win %}Legion{% else %}Hellbourne{% endif %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Type</h4>{% if match.mode == "rnk" %}Ranked{% elif match.mode == "cs" %}Casual{% elif match.mode == "acc" %}Public{% endif %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Duration</h4>{{ match.realtime }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    {% load prettytimes_tags %}
                    <h4 style="margin-bottom: 2px;">Played</h4>{{ match.date|relative_time }}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/match/{{ match.match_id }}">Overview</a></li>
                <li class="active"><a href="/chat/{{ match.match_id }}">Chat Logs</a></li>
                <li><a href="/builds/{{ match.match_id }}">Builds</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="170">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title text-center">Controls</h4></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        <strong>Legion Chat</strong>
                        <span class="pull-right">
                            <div id="legion-switch" class="make-switch">
                                <input type="checkbox" checked>
                            </div>
                        </span>
                    </li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
                <div class="panel panel-default text-center adsbygoogle hidden-xs hidden-sm">
                    <div class="panel-heading"><span class="panel-title">Sponsored</span></div>
                    <div class="panel-body">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- player page -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:160px;height:600px"
                             data-ad-client="ca-pub-7640562161899788"
                             data-ad-slot="3802411358"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="chat well well-sm">
                {% for l in chat %}
                <div class="chat-row">
                    <span class="chat-time">{{ l.time }}</span>
                    <span class="chat-team">{% if l.target == 2 %}<span class="text-danger">Hellbourne{% elif l.target == 1 %}<span class="text-success">Legion{% elif l.target == 3 %}<span class="text-info">All Chat{% endif %}</span></span>
                    <span class="chat-name player-{{ l.position }}"><img style="margin-top: -3px; width: 17px;" src='/static/img/heroes/{{ l.hero }}/icon_30.jpg'> <a href="{% if match.mode == 'cs' %}/c{% elif match.mode == 'acc' %}/p{% endif %}/player/{{l.name}}/">{{ l.name }}</a>:</span>
                    <span class="chat-msg">{{ l.msg }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
{% endblock main_content %}
{%block js%}
<script src="/static/js/bootstrap-switch.js"></script>
<script>
$('#legion-switch').bootstrapSwitch();
</script>
{% endblock js %}

