{% extends 'base.html' %}

{% block page_title %}Heroes | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <img style="width: 90px;" src="/static/img/heroes/{{ hero.hero_id }}/icon_128.jpg">
                </div>
                <div class="col-lg-9">
                    <h4 style="margin: 0;">Name: </h4>{{ hero.disp_name }}
                    <h4 style="margin: 0;">Primary Attribute: </h4>{{ hero.primaryattribute }}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="1016421757"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
{% endblock %}