{% extends 'base.html' %}

{% block page_title %}Heroes | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="col-lg-3">
                    <img class="dropshadow" style="width: 85px;" src="/static/img/heroes/{{ hero.hero_id }}/icon_128.jpg">
                </div>
                <div class="col-lg-9">
                    <h4 style="margin: 0;">Name: </h4>{{ hero.disp_name }}
                    <h4 style="margin: 0;">Primary Attribute: </h4>{{ hero.primaryattribute }}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="1016421757"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
            <div id="use" style="min-width: 310px; height: 100px; margin: 0 auto"></div>
            <strong>Current Rank: {{ popularity.popularity }}</strong>
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#use').highcharts({
        chart:{
            backgroundColor: null,
            spacingLeft: -5,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for u in use%}"{{ u.date }}",{%endfor%}],
            labels:{ enabled: false },
            lineColor: 'transparent',
            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: [{
            title: {
                text: 'Hero Use',
                style:{
                    color: '#aedf16',
                    fontSize: '16px'
                }
            },
            labels:
            {
              enabled: false
            },
            plotLines: [{
                value: 0,
                width: 1,
            }],
            gridLineColor: '#222',
        }],
        credits: {enabled: false},
        colors: ['#aedf16'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return '<strong>' + this.x + '</strong><br>' + Math.round(this.y*10)/10;
            },
        },
        plotOptions: {
                series: {
                    cursor: 'pointer',
                    animation: false,
                    point: {
                        events: {
                            click: function() {
                                window.location.href = "/match/" + this.category + '/';
                            }
                        }
                    },
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'MMR',
            data: [{% for u in use %}{{ u.usage }},{%endfor%}],
        }]
    });
});
</script>
{% endblock %}