{% extends 'base.html' %}

{% block page_title %}Heroes | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="row well well-sm">
                <div class="col-lg-3">
                    <img class="dropshadow" style="width: 85px; margin-left: -10px;" src="/static/img/heroes/{{ hero.hero_id }}/icon_128.jpg">
                </div>
                <div class="col-lg-9">
                    <h4 style="margin: 0;">Name: </h4>{{ hero.disp_name }}
                    <h4 style="margin: 0;">Primary Attribute: </h4>{{ hero.primaryattribute }}
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <strong>Current Rank: {{ popularity.popularity }}</strong>
                    <div id="use" style="min-width: 310px; height: 100px; margin: 0 auto"></div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div style="padding: 1px 1px 1px 1px;" class="panel-heading text-center"><h4>Hero Attributes</h4></div>
                    <div style="padding-bottom: 5px;" class="row text-center">
                        <div class="col-lg-4">
                            <span class="text-danger">Strength</span><br>
                            {{ hero.strength }}
                        </div>
                        <div class="col-lg-4">
                            <span class="text-success">Agility</span><br>
                            {{ hero.agility }}
                        </div>
                        <div class="col-lg-4">
                            <span class="text-info">Intelligence</span><br>
                            {{ hero.intelligence }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <table class="table table-striped hero-table">
                          <thead style="border-top: 1px solid #3e3e3e;">
                            <tr>
                              <th>Asset Name</th>
                              <th>Min</th>
                              <th>Hero</th>
                              <th>Max</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Movement Speed</td>
                              <td>{{ minmax.movespeed__min }}</td>
                              <td><strong>{{ hero.movespeed }}</strong></td>
                              <td>{{ minmax.movespeed__max }}</td>
                            </tr>
                            <tr>
                              <td>Turn Rate</td>
                              <td>{{ minmax.turnrate__min }}</td>
                              <td><strong>{{ hero.turnrate }}</strong></td>
                              <td>{{ minmax.turnrate__max  }}</td>
                            </tr>
                            <tr>
                              <td>Str per Level</td>
                              <td>{{ minmax.strengthperlevel__min }}</td>
                              <td><strong>{{ hero.strengthperlevel }}</strong></td>
                              <td>{{ minmax.strengthperlevel__max  }}</td>
                            </tr>
                            <tr>
                              <td>Agi per Level</td>
                              <td>{{ minmax.agilityperlevel__min }}</td>
                              <td><strong>{{ hero.agilityperlevel }}</strong></td>
                              <td>{{ minmax.agilityperlevel__max  }}</td>
                            </tr>
                            <tr>
                              <td>Int per Level</td>
                              <td>{{ minmax.intelligenceperlevel__min }}</td>
                              <td><strong>{{ hero.intelligenceperlevel }}</strong></td>
                              <td>{{ minmax.intelligenceperlevel__max  }}</td>
                            </tr>
                            <tr>
                              <td>Attack Duration</td>
                              <td>{{ minmax.attackduration__min }}</td>
                              <td><strong>{{ hero.attackduration }}</strong></td>
                              <td>{{ minmax.attackduration__max  }}</td>
                            </tr>
                            <tr>
                              <td>Attack Cooldown</td>
                              <td>{{ minmax.attackcooldown__min }}</td>
                              <td><strong>{{ hero.attackcooldown }}</strong></td>
                              <td>{{ minmax.attackcooldown__max  }}</td>
                            </tr>
                            <tr>
                              <td>Attack Action Time</td>
                              <td>{{ minmax.attackactiontime__min }}</td>
                              <td><strong>{{ hero.attackactiontime }}</strong></td>
                              <td>{{ minmax.attackactiontime__max  }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center adsbygoogle">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- dark - large rectangle -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-7640562161899788"
                         data-ad-slot="7981285351"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div style="padding: 1px 1px 1px 1px;" class="panel-heading text-center"><h4>Level Comparison</h4></div>
                    <ul class="list-group list-group-flush">
                        <table class="table table-striped hero-table">
                          <thead>
                            <tr>
                              <th>Asset Name</th>
                              <th>lvl 1</th>
                              <th>lvl 25</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Armor</td>
                              <td>{{ lvl1.armor }}</td>
                              <td>{{ lvl25.armor }}</td>
                            </tr>
                            <tr>
                              <td>Dmg. Reduction</td>
                              <td>{{ lvl1.dmgreduction }}</td>
                              <td>{{ lvl25.dmgreduction }}</td>
                            </tr>
                            <tr>
                              <td>Health Points</td>
                              <td>{{ lvl1.healthpoints }}</td>
                              <td>{{ lvl25.healthpoints }}</td>
                            </tr>
                            <tr>
                              <td>Mana Points</td>
                              <td>{{ lvl1.manapoints }}</td>
                              <td>{{ lvl25.manapoints }}</td>
                            </tr>
                            <tr>
                              <td>HP Regeneration</td>
                              <td>{{ lvl1.hpregeneration }}</td>
                              <td>{{ lvl25.hpregeneration }}</td>
                            </tr>
                            <tr>
                              <td>MP Regeneration</td>
                              <td>{{ lvl1.mpregeneration }}</td>
                              <td>{{ lvl25.mpregeneration }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center adsbygoogle">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- dark - large rectangle -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-7640562161899788"
                         data-ad-slot="7981285351"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="row text-center adsbygoogle hidden-xs hidden-sm">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- dark - leaderboard -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-7640562161899788"
                   data-ad-slot="1016421757"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <!-- Abilites  -->
            {% for a in abilities %}
            <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="panel panel-default">
                      <div style="padding: 5px 15px 5px 15px;" class="panel-heading"><h4>{{ a.name }}</h4></div>
                      <div style="padding-bottom: 2px;" class="panel-body">
                        <img class="dropshadow pull-left" style="width: 85px; margin-right:10px;" src="/static/img/heroes/{{ hero.hero_id }}/ability{{ forloop.counter }}_128.jpg">
                        <p>{{ a.description }}</p>
                        <h6>
                          <span class="text-warning">Action</span> <i class="fa fa-caret-right"></i> {{ a.actiontype }}
                          <span style="padding-left: 20px;" class="text-warning">Target</span> <i class="fa fa-caret-right"></i> {{ a.targetscheme }}
                        </h6>
                      </div>
                      <ul class="list-group list-group-flush">
                        {% if a.casteffecttype %}
                          <li style="padding: 2px 15px 2px 15px;" class="list-group-item">Type: {{ a.casteffecttype }}</li>
                        {% endif %}
                        {% if a.range %}
                          <li style="padding: 2px 15px 2px 15px;" class="list-group-item">Range: {{ a.range }}</li>
                        {% endif %}
                        {% if a.casttime %}
                          <li style="padding: 2px 15px 2px 15px;" class="list-group-item">Cast Time: {{ a.casttime }} Seconds</li>
                        {% endif %}
                        {% if a.manacost %}
                          <li style="padding: 2px 15px 2px 15px;" class="list-group-item">Mana Cost: {{ a.manacost }}</li>
                        {% endif %}
                        <li style="padding: 2px 15px 2px 15px;" class="list-group-item">Cooldown: 1.5 Seconds</li>
                      </ul>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#use').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{%for u in use%}"{{ u.date }}",{%endfor%}],
            labels:{ enabled: false },
            lineColor: 'transparent',
            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: [{
            title: {
                text: 'Hero Use',
                style:{
                    color: '#aedf16',
                    fontSize: '16px'
                }
            },
            labels:
            {
              enabled: false
            },
            plotLines: [{
                value: 0,
                width: 1,
            }],
            gridLineColor: '#222',
        }],
        credits: {enabled: false},
        colors: ['#aedf16'],
        tooltip: {
            shared: true,
            useHTML: true,
            formatter: function() {
                return '<strong>' + this.x + '</strong><br>' + Math.round(this.y*10)/10;
            },
        },
        plotOptions: {
                series: {
                    animation: false,
                }
            },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            showInLegend: false,
            name: 'MMR',
            data: [{% for u in use %}{{ u.usage }},{%endfor%}],
        }]
    });
});
</script>
{% endblock %}