{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Heroes | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="controls">
                <h3>Team</h3>
                <ul>
                    <li class="filter" data-filter="all">Show All</li>
                    <li class="filter" data-filter="Legion">Legion</li>
                    <li class="filter" data-filter="Hellbourne">Hellbourne</li>
                </ul>
            </div>
            <div class="controls">
                <h3>Popularity</h3>
                <ul>
                    <li class="sort" data-sort="data-popularity" data-order="desc">Descending</li>
                    <li class="sort" data-sort="data-popularity" data-order="asc">Ascending</li>
                    <li class="sort" data-sort="random">Randomize</li>
                    <li class="sort active" data-sort="default" data-order="desc">Default</li>
                    <li class="button ib layout anim150" id="GoList">List</li>
                </ul>
            </div>
            <div class="controls">
                <h3>Primary Attribute</h3>
                <ul>
                    <li class="filter" data-filter="all">Show All</li>
                    <li class="filter" data-filter="Agility">Agility</li>
                    <li class="filter" data-filter="Intelligence">Intelligence</li>
                    <li class="filter" data-filter="Strength">Strength</li>
                </ul>
            </div>
            <div class="controls">
                <h3>Attack Type</h3>
                <ul>
                    <li class="filter" data-filter="all">Show All</li>
                    <li class="filter" data-filter="ranged">Ranged</li>
                    <li class="filter" data-filter="melee">Melee</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul id="Grid">
                {% for hero in heroes %}
                <li class="mix {{ hero.team }} {{ hero.primaryattribute }} {{ hero.attacktype }}" data-popularity="{{ hero.popularity }}">
                    <img style="width: 60px;" src="/static/img/heroes/{{ hero.hero_id }}/icon_128.jpg">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script src="/static/js/jquery.mixitup.js"></script>
<script>
$(function(){
    $('#Grid').mixitup();
});
</script>
{% endblock %}