{% for m in mdata %}
        {% if m.win %}
<tr class="match-win" href="/match/{{ m.match_id }}/">
    <td>
        {% else %}
<tr class="match-loss" href="/match/{{ m.match_id }}/">
    <td>
        {% endif %}
        <img src='/static/img/heroes/{{ m.hero }}/icon_128.jpg' width=30> {{m.level}}
    </td>
    <td>{{ m.kills }} / {{ m.deaths }} / {{ m.assists }}</td>
    <td>{{ m.mmr_change }}</td>
    <td>{{ m.date }}</td>
    <td><a href="/match/{{ m.match_id }}/">{{ m.match_id }}</a></td>
</tr>
{% endfor %}