{% extends 'base.html' %}

{% block page_title %}{{ match_id }} Match Stats | HonBot {% endblock %}
{% block headers %}
{% endblock %}
{% block main_content %}
<header class="player-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                <h2><img class="pull-left" src="/static/img/maps/{{ match.map_used }}.jpg">Match: {{ match_id }}</h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Winner</h4>{% if players.0.win %}Legion{% else %}Hellbourne{% endif %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Type</h4>{% if match.mode == "rnk" %}Ranked{% elif match.mode == "cs" %}Casual{% elif match.mode == "acc" %}Public{% endif %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h4 style="margin-bottom: 2px;">Duration</h4>{{ match.realtime }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    {% load prettytimes_tags %}
                    <h4 style="margin-bottom: 2px;">Played</h4>{{ match.date|relative_time }}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="/match/{{ match_id }}/">Overview</a></li>
                <li><a href="/chat/{{ match_id }}/">Chat Logs</a></li>
                <!-- <li><a href="/builds/{{ match_id }}/">Builds</a></li> -->
            </ul>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-match table-responsive">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Items</th>
                        <th title="Level">lvl</th>
                        <th title="Kills">K</th>
                        <th title="Deaths">D</th>
                        <th title="Assists">A</th>
                        <th title="Kill Death Ratio">KDR</th>
                        <th title="Creep Kills">CK</th>
                        <th title="Creep Denies">CD</th>
                        <th title="Gold Per Minute">GPM</th>
                        <th title="XP per minute">XP</th>
                        <th title="Actions Per Minute">APM</th>
                        <th title="Wards">W</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in team1 %}
                    <tr class="player-{{ player.position }}-row">
                        <td>
                            <a href="/hero/{{ player.cli_name }}/"><img style="width:30px" src='/static/img/heroes/{{ player.hero }}/icon_128.jpg'></a>
                            <a href="{% if match.mode == 'cs' %}/c{% elif match.mode == 'acc' %}/p{% endif %}/player/{{ player.nickname }}/" class="player-hover" data-trigger="hover" data-pid="{% if match.mode == 'cs' %}/c{% elif match.mode == 'acc' %}/p{% endif %}/ptip/{{ player.player_id }}/">
                                {{ player.nickname }}
                            </a>
                        </td>
                        <td>
                            {% for item in player.items %}
                                {% if item != None  %}
                                    <img style="width:30px;" src='/static/img/items/{{ item }}.jpg'>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.kills }}</td>
                        <td>{{ player.deaths }}</td>
                        <td>{{ player.assists }}</td>
                        <td>{{ player.kdr }}</td>
                        <td>{{ player.cs }}</td>
                        <td>{{ player.denies }}</td>
                        <td>{{ player.gpm }}</td>
                        <td>{{ player.xpm }}</td>
                        <td>{{ player.apm }}</td>
                        <td>{{ player.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tbody>
                {% for player in team2 %}
                    <tr class="player-{{ player.position }}-row">
                        <td>
                            <a href="/hero/{{ player.cli_name }}/"><img style="width:30px" src='/static/img/heroes/{{ player.hero }}/icon_128.jpg'></a>
                            <a href="{% if match.mode == 'cs' %}/c{% elif match.mode == 'acc' %}/p{% endif %}/player/{{ player.nickname }}/" class="player-hover" data-trigger="hover" data-pid="{% if match.mode == 'cs' %}/c{% elif match.mode == 'acc' %}/p{% endif %}/ptip/{{ player.player_id }}/">
                                {{ player.nickname }}
                            </a>
                        </td>
                        <td>
                            {% for item in player.items %}{% if item != None  %}<img style="width:30px;" src='/static/img/items/{{ item }}.jpg'>{% endif %}{% endfor %}
                        </td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.kills }}</td>
                        <td>{{ player.deaths }}</td>
                        <td>{{ player.assists }}</td>
                        <td>{{ player.kdr }}</td>
                        <td>{{ player.cs }}</td>
                        <td>{{ player.denies }}</td>
                        <td>{{ player.gpm }}</td>
                        <td>{{ player.xpm }}</td>
                        <td>{{ player.apm }}</td>
                        <td>{{ player.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading"><h4 class="text-center">Hero Damage</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div id="ldmg" style="min-width: 50px; height: 290px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div id="hdmg" style="min-width: 50px; height: 290px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading"><h4 class="text-center">Gold Per Minute</h4></div>
                <div class="panel-body">
                    <div id="tgpm" style="min-width: 50px; height: 360px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default">
                <div style="padding: 5px;" class="panel-heading"><h4 class="text-center">Team Totals</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div id="kills" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <div id="assists" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <div id="xpm" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <div id="creeps" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <div id="gpm" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-xs-6">
                            <div id="apm" style="min-width: 50px; height: 180px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock main_content %}
{%block js%}
<script>
$(document).ready(function() {
    setTimeout(function(){
        $('.player-hover').each(function() {
            var e=$(this);
            $.get(e.data('pid'),function(d) {
                e.popover({content: d, html: true, delay: { show: 100, hide: 0 }});
            });
        });
    }, 800);
});
</script>
<script src="/static/js/highcharts.js"></script>
{% if t1exist %}
<script>
//legion herodmg
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'ldmg',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    animation: false,
                    borderColor: '#222222',
                    dataLabels: {
                        enabled: true,
                        style: {color: '#EEE;'},
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) + '%';
                        }
                    }
                }
            },
            title: {
               text: ''
            },
            colors: ['#002c9f', '#00c19e', '#770092', '#f2d500', '#ff7d29'],
            credits: {
                enabled: false
            },
            exporting: { enabled: false },
            series: [{
                type: 'pie',
                name: 'Damage',
                data: [
                    {% for player in team1 %}['{{ player.nickname }}', {{ player.herodmg }}],{% endfor %}
                ]
            }]
        });
    });
});
</script>
{% endif %}
{% if t2exist %}
<script>
//hellbourne herodmg
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'hdmg',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    animation: false,
                    borderColor: '#222222',
                    dataLabels: {
                        enabled: true,
                        style: {color: '#EEE;'},
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) + '%';
                        }
                    }
                }
            },
            title: {
               text: ''
            },
            credits: {
                enabled: false
            },
            colors: ['#ff44ab', '#727272', '#00a0da', '#006448', '#562507'],
            exporting: { enabled: false },
            series: [{
                type: 'pie',
                name: 'Damage',
                data: [
                    {% for player in team2 %}['{{ player.nickname }}', {{ player.herodmg }}],{% endfor %}
                ]
            }]
        });
    });

});
</script>
{% endif %}
<script>
$(function () {
        $('#tgpm').highcharts({
            chart: {
                type: 'column',
                backgroundColor: null
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    ''
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    enabled: false
                },
                gridLineColor: '#4f4c50'
            },
            tooltip: {
                followPointer: true,
                hideDelay: 50,
                formatter: function() {
                    return this.y;
                }
            },
            legend: {
                borderWidth: 0,
                itemStyle: {
                   color: '#64656d',
                },
                itemHoverStyle: {
                    color: '#FFF'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    groupPadding: 0,
                    animation: false
                }
            },
            credits: {
                enabled: false
            },
            series: [
            {% for player in players%}
            {% if player.position == 0 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#002c9f'
            },{% endif %}
            {% if player.position == 1 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#00c19e'
            },{% endif %}
            {% if player.position == 2 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#770092'
            },{% endif %}
            {% if player.position == 3 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#f2d500'
            },{% endif %}
            {% if player.position == 4 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#ff7d29'
            },{% endif %}
            {% if player.position == 5 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#ff44ab'
            },{% endif %}
            {% if player.position == 6 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#727272'
            },{% endif %}
            {% if player.position == 7 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#00a0da'
            },{% endif %}
            {% if player.position == 8 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#006448'
            },{% endif %}
            {% if player.position == 9 %}{
                name: '{{ player.nickname }}',
                data: [{{ player.gpm }}],
                color: '#562507'
            }{% endif %}
            {% endfor %}]
        });
    });
</script>
<script>
//total kills
$(function () {
    $('#kills').highcharts({
        chart: {
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'Kills',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>',
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'Kills',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.kills }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.kills }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
<script>
//total xpm
$(function () {
    $('#xpm').highcharts({
        chart: {
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'XPM',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.1f}</b>',
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'XPM',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.xpm }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.xpm }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
<script>
//total assists
$(function () {
    $('#assists').highcharts({
        chart: {
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'Assists',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>',
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'Assists',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.assists }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.assists }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
<script>
//total creeps
$(function () {
    $('#creeps').highcharts({
        chart: {
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'Creeps',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>',
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'Creeps',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.cs }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.cs }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
<script>
//total gpm
$(function () {
    $('#gpm').highcharts({
        chart: {
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'GPM',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.1f}</b>',
                percentageDecimals: 0
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'GPM',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.gpm }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.gpm }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
<script>
//total apm
$(function () {
    $('#apm').highcharts({
        chart: {
            renderTo: 'container',
            type: 'pie',
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
        },
        title: {
            text: 'APM',
            style: {
                color: '#c8c4cb',
                font: 'bold 16px "Helvetica Neue", Helvetica, sans-serif'
            }
        },
        plotOptions: {
            pie: {
                borderColor: '#000000',
                innerSize: '60%',
                animation: false,
                dataLabels: {
                    enabled: false
                }
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.1f}</b>',
                percentageDecimals: 1
            },
        colors: ['#c0392b', '#27ae60'],
        series: [{
            name: 'APM',
            data: [
                {% if t2exist %}['Hellbourne', ({% for p in team2 %}+{{ p.apm }}{% endfor %})],{% endif %}
                {% if t1exist %}['Legion', ({% for p in team1 %}+{{ p.apm }}{% endfor %})]{% endif %}
            ]
        }]
    });
});
</script>
{%endblock js%}