{% extends 'base.html' %}

{% block page_title %}{{ match_id }} Match Stats | HonBot {% endblock %}

{% block main_content %}
<header class="player-head" id="overview">
    <div class='container'>
        <div class="row">
            <div class="span7">
                <img class="pull-left" style="margin-top: 15px; padding-right: 4px;" src="/static/img/maps/{{ stats.map }}.jpg">
                <h2 class="pull-left">{{ match_id }}</h2>
            </div>
            <div class="span5 player-tsr">
                <div class="span1 text-center">
                    <strong>Winner</strong><br>{% if stats.players.0.win %}Legion{% else %}Hellbourne{% endif %}
                </div>
                <div class="span1 text-center">
                    <strong>Type</strong><br>{{ stats.mode }}
                </div>
                <div class="span1 text-center">
                    <strong>Duration</strong><br>{{ stats.matchlength }}
                </div>
                <div class="span1 text-center">
                    <strong>Played</strong><br>{{ stats.date }}
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<div class='container'>
    <ul class="nav nav-tabs">
        <li class="active"><a href="/match/{{ match_id }}">Overview</a></li>
        <li><a href="/chat/{{ match_id }}">Chat Logs</a></li>
        <li><a href="/builds/{{ match_id }}">Builds</a></li>
    </ul>
    <div class="row">
        <div class="span12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Items</th>
                        <th title="Level">lvl</th>
                        <th title="Kills">K</th>
                        <th title="Deaths">D</th>
                        <th title="Assists">A</th>
                        <th title="Kill Death Ratio">KDR</th>
                        <th title="Creep Kills">CK</th>
                        <th title="Creep Denies">CD</th>
                        <th title="Gold Per Minute">GPM</th>
                        <th title="XP per minute">XP</th>
                        <th title="Actions Per Minute">APM</th>
                        <th title="Wards">W</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in stats.players %}
                {% if m.position == '5' %}</tbody><tbody>{% endif %}
                    <tr>
                        <td data-title="Player">
                            <img src='/static/img/p/{{ m.position }}.jpg'>
                            <img src='/static/img/heroes/{{ m.hero }}/icon_30.jpg' width=30> 
                            <a href="/player/{{ m.nickname }}/">
                                {{ m.nickname }} 
                            </a>
                        </td>
                        <td data-title="Items">
                            {% for i in m.items %}
                                {% if i %}
                                    <img src='/static/img/items/{{ i }}.jpg' width=30>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td data-title="lvl">{{ m.level }}</td>
                        <td data-title="Kills">{{ m.kills }}</td>
                        <td data-title="Deaths">{{ m.deaths }}</td>
                        <td data-title="Assists">{{ m.assists }}</td>
                        <td data-title="KDR">{{ m.kdr }}</td>
                        <td data-title="CK">{{ m.cs }}</td>
                        <td data-title="CD">{{ m.denies }}</td>
                        <td data-title="GPM">{{ m.gpm }}</td>
                        <td data-title="XP">{{ m.xpm }}</td>
                        <td data-title="APM">{{ m.apm }}</td>
                        <td data-title="Wards">{{ m.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row">
        <div class="span12">
            <h2 class="text-center">Hero Damage</h2>
            <div class="row">
                <div class="span6 stats-title">
                    <div id="ldmg" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                </div>
                <div class="span6 stats-title">
                    <div id="hdmg" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row-fluid">
        <div class="span6">
            <h2 class="text-center">Gold Per Minute</h2>
                <div id="lgpm" style="min-width: 300px; height: 350px; margin: 0 auto"></div>
        </div>
    </div>
</div>
<script src="/static/js/highcharts.js"></script>
<script>
//legion herodmg
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'ldmg',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    animation: false,
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) + '%';
                        }
                    }
                }
            },
            title: {
               text: ''
            },
            colors: ['#002c9f', '#00c19e', '#770092', '#f2d500', '#ff7d29'],
            credits: {
                enabled: false
            },
            exporting: { enabled: false },
            series: [{
                type: 'pie',
                name: 'Damage',
                data: [
                    ['{{ stats.players.0.nickname }}', {{ stats.players.0.herodmg }}],
                    ['{{ stats.players.1.nickname }}', {{ stats.players.1.herodmg }}],
                    ['{{ stats.players.2.nickname }}', {{ stats.players.2.herodmg }}],
                    ['{{ stats.players.3.nickname }}', {{ stats.players.3.herodmg }}],
                    ['{{ stats.players.4.nickname }}', {{ stats.players.4.herodmg }}]
                ]
            }]
        });
    });
    
});
</script>
<script>
//hellbourne herodmg
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'hdmg',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    animation: false,
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) + '%';
                        }
                    }
                }
            },
            title: {
               text: ''
            },
            credits: {
                enabled: false
            },
            colors: ['#ff44ab', '#727272', '#00a0da', '#006448', '#562507'],
            exporting: { enabled: false },
            series: [{
                type: 'pie',
                name: 'Damage',
                data: [
                    ['{{ stats.players.5.nickname }}', {{ stats.players.5.herodmg }}],
                    ['{{ stats.players.6.nickname }}', {{ stats.players.6.herodmg }}],
                    ['{{ stats.players.7.nickname }}', {{ stats.players.7.herodmg }}],
                    ['{{ stats.players.8.nickname }}', {{ stats.players.8.herodmg }}],
                    ['{{ stats.players.9.nickname }}', {{ stats.players.9.herodmg }}]
                ]
            }]
        });
    });
    
});
</script>
<script>
$(function () {
        $('#lgpm').highcharts({
            chart: {
                type: 'column',
                backgroundColor: null
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    ''
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    enabled: false
                }
            },
            tooltip: {
                followPointer: true,
                hideDelay: 50,
                formatter: function() {
                    return this.y;
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0,
                    groupPadding: 0,
                    animation: false
                }
            },
            colors: ['#002c9f', '#00c19e', '#770092', '#f2d500', '#ff7d29', '#ff44ab', '#727272', '#00a0da', '#006448', '#562507'],
            credits: {
                enabled: false
            },
            series: [{
                name: '{{ stats.players.0.nickname }}',
                data: [{{ stats.players.0.gpm }}]
    
            }, {
                name: '{{ stats.players.1.nickname }}',
                data: [{{ stats.players.1.gpm }}]
    
            }, {
                name: '{{ stats.players.2.nickname }}',
                data: [{{ stats.players.2.gpm }}]
    
            }, {
                name: '{{ stats.players.3.nickname }}',
                data: [{{ stats.players.3.gpm }}]
    
            }, {
                name: '{{ stats.players.4.nickname }}',
                data: [{{ stats.players.4.gpm }}]
    
            }, {
                name: '{{ stats.players.5.nickname }}',
                data: [{{ stats.players.5.gpm }}]
    
            }, {
                name: '{{ stats.players.6.nickname }}',
                data: [{{ stats.players.6.gpm }}]
    
            }, {
                name: '{{ stats.players.7.nickname }}',
                data: [{{ stats.players.7.gpm }}]
    
            }, {
                name: '{{ stats.players.8.nickname }}',
                data: [{{ stats.players.8.gpm }}]
    
            }, {
                name: '{{ stats.players.9.nickname }}',
                data: [{{ stats.players.9.gpm }}]
    
            }]
        });
    });
    

</script>
{% endblock main_content %}