{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Browse | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-table"></i>
                        Player Browse
                    </h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table-nomargin table-bordered dataTable dataTable-noheader dataTable-nofooter" id="players">
                        <thead>
                            <tr>
                                <th>Nickname</th>
                                <th>MMR</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>KDR</th>
                                <th>Updated</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock main_content %}
{% block js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    var oTable = $('#players').dataTable({
        // ...
        "bProcessing": true,
        "bServerSide": true,
        "iDisplayLength": 30,
        "aLengthMenu": [[50, 100], [50, 100]],
        "aaSorting": [[ 5, "desc" ]],
        "sAjaxSource": "/pdata/",
        "aoColumnDefs": [ {
          "aTargets": [ 0 ],
          "mRender": function ( data, type, full ) {
            return '<a href="/player/'+data+ '">' + data + '</a>';
          }
        } ],
        "aoColumns": [
      { "asSorting": [ "asc", "desc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] }
    ]
    });
    // ...
});
</script>
{% endblock js %}
