<div class="row">
    <div class="col-lg-12 text-center">
        <img style="width: 80px;" src="/static/img/heroes/{{hero.id}}/icon_128.jpg">
    </div>
    <div class="col-lg-12 text-center">
        <h3><span class="text-success">{{hero.wins}}</span> - <span class="text-error">{{hero.losses}}</span> - {{hero.percent}}%</h3>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped table-condensed">
            <tr>
                <td>Kills</td>
                <td><span class="pull-right">{{ hero.kills }}</span></td>
            </tr>
            <tr>
                <td>Deaths</td>
                <td><span class="pull-right">{{ hero.deaths }}</span></td>
            </tr>
            <tr>
                <td>Kill Death Ratio</td>
                <td><span class="pull-right">{{ hero.kdr }}</span></td>
            </tr>
            <tr>
                <td>Actions Per Minute</td>
                <td><span class="pull-right">{{ hero.apm }}</span></td>
            </tr>
            <tr>
                <td>Gold Per Minute</td>
                <td><span class="pull-right">{{ hero.gpm }}</span></td>
            </tr>
            <tr>
                <td>EXP Per Minute</td>
                <td><span class="pull-right">{{ hero.exp }}</span></td>
            </tr>
            <tr>
                <td>Creep Kills</td>
                <td><span class="pull-right">{{ hero.cs }}</span></td>
            </tr>
            <tr>
                <td>Creep Denies</td>
                <td><span class="pull-right">{{ hero.cd }}</span></td>
            </tr>
            <tr>
                <td>Consumables</td>
                <td><span class="pull-right">{{ hero.consume }}</span></td>
            </tr>
            <tr>
                <td>Wards</td>
                <td><span class="pull-right">{{ hero.wards }}</span></td>
            </tr>
        </table>
        {%for r in recent%}
        {% if forloop.first %}
        <h4 class="text-center">Cached Matches</h4>
        <table id="history" class="table table-header table-condensed recent-match">
            <thead>
                <tr>
                    <th>KDR</th>
                    <th class="text-center">APM</th>
                    <th class="text-center">GPM</th>
                    <th class="text-center">Match</th>
                </tr>
            </thead>
            <tbody id="rows">
        {% endif %}
            {% if r.win %}
            <tr class="match-win" href="/match/{{ r.match_id }}/">
            {% else %}
            <tr class="match-loss" href="/match/{{ r.match_id }}/">
            {% endif %}
                <td>{{ r.kdr }}</td>
                <td>{{ r.gpm }}</td>
                <td>{{ r.apm }}</td>
                <td><a href="/match/{{ r.match_id }}/">{{ r.match_id }}</a></td>
            </tr>
        {%endfor%}
        </tbody>
        </table>
    </div>
</div>