{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Stats | HonBot {% endblock %}

{% block main_content %}
<header class="player-head" id="overview">
    <div class='container'>
        <div class="row">
            <div class="span6">
                <div style="width: 50px; margin-top: 15px; padding-right: 4px;" class="pull-left" id="avatar"></div><h1 class="pull-left">{{ stats.nickname }}</h1>
            </div>
            <div class="span6 player-tsr">
                <div class="span1 text-center">
                    <strong>MMR</strong><br> {{ stats.mmr }}
                </div>
                <div class="span1 text-center">
                    <strong>TSR</strong><br> {{ stats.TSR }}
                </div>
                <div class="span1 text-center">
                    <strong>Wins</strong><br> {{ stats.wins }}
                </div>
                <div class="span1 text-center">
                    <strong>Losses</strong><br>{{ stats.losses }}
                </div>
                <div class="span1 text-center">
                    <strong>Wins</strong><br> {{ stats.winpercent }}
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<div class="container">
    <ul class="nav nav-tabs">
        <li {% if mode == "rnk" %}class="active"{% endif %}><a href="/player/{{ stats.nickname }}">Ranked</a></li>
        <li {% if mode == "cs" %}class="active"{% endif %}><a href="/c/player/{{ stats.nickname }}">Casual</a></li>
        <li {% if mode == "acc" %}class="active"{% endif %}><a href="/p/player/{{ stats.nickname }}">Public</a></li>
    </ul>
    <div class="row">
        <div class="span3 text-center table-striped">
            <h4>Lifetime</h4>
            <table class="table table-condensed">
                <tr>
                    <td>Hours</td>
                    <td>{{ stats.hours }}</td>
                </tr>
                <tr>
                    <td>Kills</td>
                    <td>{{ stats.kills }}</td>
                </tr>
                <tr>
                    <td>Deaths</td>
                    <td>{{ stats.deaths }}</td>
                </tr>
                <tr>
                    <td>Assists</td>
                    <td>{{ stats.assists }}</td>
                </tr>
                <tr>
                    <td>Matches</td>
                    <td>{{ stats.matches }}</td>
                </tr>
                <tr>
                    <td>KDR</td>
                    <td>{{ stats.kdr }}</td>
                </tr>
                <tr>
                    <td>K+ADR</td>
                    <td>{{ stats.kadr }}</td>
                </tr>
                <tr>
                    <td>CC Games</td>
                    <td>{{ stats.cc }}</td>
                </tr>
                <tr>
                    <td>CC Calls</td>
                    <td>{{ stats.cccalls }}</td>
                </tr>
                <tr>
                    <td>DC</td>
                    <td>{{ stats.left }}</td>
                </tr>
                <tr>
                    <td>Kicked</td>
                    <td>{{ stats.kicked }}</td>
                </tr>
            </table>
        </div>
        <div class="span3 text-center">
            <h4>Average Match</h4>
            <table class="table table-condensed table-border table-striped">
                <tr>
                    <td>Minutes</td>
                    <td>{{ stats.atime }}</td>
                </tr>
                <tr>
                    <td>Kills</td>
                    <td>{{ stats.akills }}</td>
                </tr>
                <tr>
                    <td>Deaths</td>
                    <td>{{ stats.adeaths }}</td>
                </tr>
                <tr>
                    <td>Assists</td>
                    <td>{{ stats.aassists }}</td>
                </tr>
                <tr>
                    <td>Creeps</td>
                    <td>{{ stats.acs }}</td>
                </tr>
                <tr>
                    <td>Denies</td>
                    <td>{{ stats.adenies }}</td>
                </tr>
                <tr>
                    <td>XP/min</td>
                    <td>{{ stats.axpmin }}</td>
                </tr>
                <tr>
                    <td>Gold/min</td>
                    <td>{{ stats.agoldmin }}</td>
                </tr>
                <tr>
                    <td>Actions/min</td>
                    <td>{{ stats.aactionsmin }}</td>
                </tr>
                <tr>
                    <td>Wards</td>
                    <td>{{ stats.awards }}</td>
                </tr>
                <tr>
                    <td>Consumeables</td>
                    <td>{{ stats.aconsumables }}</td>
                </tr>
            </table>
        </div>
        <div class="span6 text-center">
            <table id="history" class="table table-condensed recent-match">
                <thead>
                    <tr>
                        <th>Hero</th>
                        <th>K / D / A</th>
                        <th>Date</th>
                        <th>Match #</th>
                    </tr>
                </thead>
                <tbody id="recent-matches">
                </tbody>
            </table>
            <a id="more" class="btn">More</a>
            <div id="no-more"></div>
        </div>
    </div>
</div>
<script>
$.get("/match_history/{{ stats.id }}/?more=0&mode={{ mode }}",

function (data) {
    if (data == "stop") {
        $('#more').remove();
        $('#no-more').append("HonBot has reached the end of your recent matches");
    } else {
        $('#recent-matches').append(data);
        $('#recent-matches tr').click(function(){
            window.location = $(this).attr('href');
            return false;
        });
    }
});
</script>
<script>
var counter = 0;
$("#more").click(function() {
    var table = $('#recent-matches')
    counter++;
    url = "/match_history/{{ stats.id }}/?more=" + String(counter) + "&mode={{ mode }}"
    $.get(url,
    function(data) {
        if(data == "stop") {
            $('#more').remove();
            $('#no-more').append("HonBot has reached the end of your recent matches")
        } 
        else {
            table.append(data);
            $('#recent-matches tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
        }
    });
});
</script>
<script>
$.get("/avatar/{{ stats.id }}/",
    function(data) {
        $('#avatar').append(data)
    });
</script>
{% endblock main_content %}