{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Browse | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul style="margin-top: -20px;" class="nav nav-pills nav-justified">
                <li class="active"><a>Browse</a></li>
                <li><a href="/distribution/">Player Distribution</a></li>
                <li><a href="/top/">7-Day High Score</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div style="margin-top:-20px;" class="col-lg-12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    Player Browse
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table-nomargin table-bordered dataTable dataTable-noheader dataTable-nofooter" id="players">
                    <thead>
                        <tr>
                            <th>Nickname</th>
                            <th>MMR</th>
                            <th>TSR</th>
                            <th>Wins</th>
                            <th>Loss</th>
                            <th>Kills</th>
                            <th>Deaths</th>
                            <th>KDR</th>
                            <th>APM</th>
                            <th>GPM</th>
                            <th>XPM</th>
                            <th>Hours</th>
                            <th>Annihil</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock main_content %}
{% block js %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    var oTable = $('#players').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "iDisplayLength": 25,
        "aLengthMenu": [[25, 50, 100], [25, 50, 100]],
        "aaSorting": [[ 1, "desc" ]],
        "sAjaxSource": "/pdata/",
        "bSortMulti": false,
        "aoColumnDefs": [ {
          "aTargets": [ 0 ],
          "mRender": function ( data, type, full ) {
            return '<a href="/player/'+data+ '">' + data + '</a>';
          }
        } ],
        "aoColumns": [
      { "asSorting": [ "asc", "desc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] },
      { "asSorting": [ "desc", "asc" ] }
    ]
    });
});
</script>
{% endblock js %}
