<h4 class="ptip-header"><div id="ptip-avatar-{{ player.nickname }}" class="pull-left"></div>{{ player.nickname }}</h4>
<ul class="list-unstyled ptip-body">
	<li class="text-center"><span class="text-success">{{ player.wins }}</span> - <span class="text-danger">{{ player.losses }}</span> - {{ player.winpercent }}</li>
	<li class="text-center">MMR - {{ player.mmr }}</li>
	<li class="text-center">KDR - {{ player.kdr }}</li>
</ul>

<script>
$("#ptip-avatar-{{ player.nickname }}").load("/avatar/{{ player.player_id }}/30/");
</script>