<header class="player-head">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="btn-group-vertical">
                    <a class="btn btn-xs btn-{% if mode == 'rnk' %}success active{% else %}default{% endif %}" href="/{{ view }}/{{ stats.nickname }}/">Ranked</a>
                    <a class="btn btn-xs btn-{% if mode == 'cs' %}success active{% else %}default{% endif %}" href="/c/{{ view }}/{{ stats.nickname }}/">Casual</a>
                    <a class="btn btn-xs btn-{% if mode == 'acc' %}success active{% else %}default{% endif %}" href="/p/{{ view }}/{{ stats.nickname }}/">Public</a>
                </div>
                <h1><div id="avatar" class="pull-left"></div> {{ stats.nickname }}</h1>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-2 col-md-offset-2 text-center">
                    <h4>mmr</h4>{{ stats.mmr }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <h4>tsr</h4>{{ stats.TSR }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <h4>win</h4>{{ stats.wins }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <h4>loss</h4>{{ stats.losses }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <h4 style="margin-top: 21px;">{{ stats.winpercent }}</h4>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
// Get Avatar
$.get("/avatar/{{ stats.player_id }}/65/",
    function(data) {
        $('#avatar').append(data)
    });
</script>