{% extends 'base.html' %}

{% block page_title %}{{ stats.nickname }} Player Stats | HonBot {% endblock %}

{% block main_content %}
<!-- Used for facebook metrics -->
<script type="text/javascript">var fb_param = {};fb_param.pixel_id = '6010565184057';fb_param.value = '0.00';fb_param.currency = 'USD';(function(){var fpw = document.createElement('script');fpw.async = true;fpw.src = '//connect.facebook.net/en_US/fp.js';var ref = document.getElementsByTagName('script')[0];ref.parentNode.insertBefore(fpw, ref);})();</script><noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6010565184057&amp;value=0&amp;currency=USD" /></noscript>

<!-- Player Header -->
{% include 'player_head.html' %}

<!-- Player Navigation-->
{% include 'player_navigation.html' %}

<div class="container">
    <div class="row">
        <div style="padding-left:0;padding-right:0;" class="col-lg-5 col-md-5 col-sm-3 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title text-center">Lifetime</h4></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Hours<p class="pull-right">{{ stats.hours }}</p></li>
                        <li class="list-group-item">Kills<p class="pull-right">{{ stats.kills }}</p></li>
                        <li class="list-group-item">Deaths<p class="pull-right">{{ stats.deaths }}</p></li>
                        <li class="list-group-item">Assists<p class="pull-right">{{ stats.assists }}</p></li>
                        <li class="list-group-item">Matches<p class="pull-right">{{ stats.matches }}</p></li>
                        <li class="list-group-item">K:D Ratio<p class="pull-right">{{ stats.kdr }}</p></li>
                        <li class="list-group-item">K+ADR<p class="pull-right">{{ stats.kadr }}</p></li>
                        <li class="list-group-item">CC Games<p class="pull-right">{{ stats.cc }}</p></li>
                        <li class="list-group-item">CC Calls<p class="pull-right">{{ stats.cccalls }}</p></li>
                        <li class="list-group-item">DC<p class="pull-right">{{ stats.left }}</p></li>
                        <li class="list-group-item">Kicked<p class="pull-right">{{ stats.kicked }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title text-center">Average</h4></div>
                    <ul class="list-group list-group-flush">
                        <li style="border-top-color: #fff;" class="list-group-item">Minutes<p class="pull-right">{{ stats.atime }}</p></li>
                        <li class="list-group-item">Kills<p class="pull-right">{{ stats.akills }}</p></li>
                        <li class="list-group-item">Deaths<p class="pull-right">{{ stats.adeaths }}</p></li>
                        <li class="list-group-item">Assists<p class="pull-right">{{ stats.aassists }}</p></li>
                        <li class="list-group-item">Creeps<p class="pull-right">{{ stats.acs }}</p></li>
                        <li class="list-group-item">Denies<p class="pull-right">{{ stats.adenies }}</p></li>
                        <li class="list-group-item">XP/min<p class="pull-right">{{ stats.axpmin }}</p></li>
                        <li class="list-group-item">GPM<p class="pull-right">{{ stats.agoldmin }}</p></li>
                        <li class="list-group-item">APM<p class="pull-right">{{ stats.aactionsmin }}</p></li>
                        <li class="list-group-item">Wards<p class="pull-right">{{ stats.awards }}</p></li>
                        <li class="list-group-item">Consumable<p class="pull-right">{{ stats.aconsumables }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title text-center">Streaks</h4></div>
                    <ul class="list-group list-group-flush">
                        <li style="border-top-color: #fff;" class="list-group-item">Serial Killer<p class="pull-right">{{ stats.ks3 }}</p></li>
                        <li class="list-group-item">Ultimate Warrior<p class="pull-right">{{ stats.ks4 }}</p></li>
                        <li class="list-group-item">Legendary<p class="pull-right">{{ stats.ks5 }}</p></li>
                        <li class="list-group-item">Onslaught<p class="pull-right">{{ stats.ks6 }}</p></li>
                        <li class="list-group-item">Savage Sick<p class="pull-right">{{ stats.ks7 }}</p></li>
                        <li class="list-group-item">Dominating<p class="pull-right">{{ stats.ks8 }}</p></li>
                        <li class="list-group-item">Champion<p class="pull-right">{{ stats.ks9 }}</p></li>
                        <li class="list-group-item">Bloodbath<p class="pull-right">{{ stats.ks10 }}</p></li>
                        <li class="list-group-item">Immortal<p class="pull-right">{{ stats.ks15 }}</p></li>
                        <li class="list-group-item">Double Tap<p class="pull-right">{{ stats.doublekill }}</p></li>
                        <li class="list-group-item">Hat-Trick<p class="pull-right">{{ stats.triplekill }}</p></li>
                        <li class="list-group-item">Quad Kill<p class="pull-right">{{ stats.quadkill }}</p></li>
                        <li class="list-group-item">Annihilation<p class="pull-right">{{ stats.annihilation }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title text-center">Special</h4></div>
                    <ul class="list-group list-group-flush">
                        <li style="border-top-color: #fff;" class="list-group-item">Humiliation<p class="pull-right">{{ stats.humiliation }}</p></li>
                        <li class="list-group-item">Smackdown<p class="pull-right">{{ stats.smackdown }}</p></li>
                        <li class="list-group-item">Bloodlust<p class="pull-right">{{ stats.bloodlust }}</p></li>
                        <li class="list-group-item">Retribution<p class="pull-right">{{ stats.retribution }}</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="padding-left:0;" class="col-lg-7 col-md-7 col-sm-9 col-xs-12 text-center">
            <table id="history" class="table table-header table-condensed recent-match">
                <thead>
                    <tr>
                        <th class="text-center">Hero lvl</th>
                        <th class="text-center">K/D/A</th>
                        <th class="text-center">APM</th>
                        <th class="text-center">GPM</th>
                        <th class="text-center">MMR +/-</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Match #</th>
                    </tr>
                </thead>

                <tbody id="recent-matches">
                </tbody>
            </table>
            <p><i id="match-load" class="icon-spinner icon-spin icon-2x"></i></p>
            <a id="more" class="btn btn-default btn-small">Load More</a>
            <div id="no-more"></div>
        </div>
    </div>
</div>
<br>
{% include 'banner.html' %}
{% endblock main_content %}
{%block js%}
<script>
$.get("{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_history/{{ stats.player_id }}/?more=1",
function (data) {
    if (data == "stop") {
        $('#more').remove();
        $('#no-more').append("HonBot has reached the end of your recent matches");
    } else {
        $('#recent-matches').append(data);
        $('#recent-matches tr').click(function(){
            window.location = $(this).attr('href');
            return false;
        });
    }
    $("#match-load").hide();
});
</script>
<script>
var counter = 1;
$("#more").click(function() {
    $("#match-load").show();
    var table = $('#recent-matches')
    counter++;
    url = "{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_history/{{ stats.player_id }}/?more=" + String(counter)"
    $.get(url,
    function(data) {
        if(data == "stop") {
            $('#more').remove();
            $('#no-more').append("HonBot has reached the end of your recent matches")
        }
        else {
            table.append(data);
            $('#recent-matches tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
        }
        $("#match-load").hide();
    });
});
</script>
{%endblock js%}