{% extends 'base.html' %}

{% block page_title %}Hon Player Hero Stats | HonBot {% endblock %}
{% block headers %}
<link href="/static/css/select2.css" rel="stylesheet"/>
<script src="/static/js/select2.min.js"></script>
{% endblock %}
{% block main_content %}

<!-- Player Header -->
{% include 'player_head.html' %}

<!-- Player Navigation-->
{% include 'player_navigation.html' %}

<!-- Stats Banner-->
{% include 'banner.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4 col-lg-offset-1">
                <select class="col-lg-12" id="hero1">
                    <option></option>
                    {% for hero in heroes %}
                    <option value="{{ hero.hero_id }}">{{ hero.disp_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <select class="col-lg-12" id="hero2">
                    <option></option>
                    {% for hero in heroes %}
                    <option value="{{ hero.hero_id }}">{{ hero.disp_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-lg-offset-1">
            <div id="match-load1" class="text-center"></div>
            <div id="display1">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-lg-offset-1">
            <div id="match-load2" class="text-center"></div>
            <div id="display2">
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $("#hero1").select2({
        placeholder: "Select a Hero",
        allowClear: false
    });
    $("#hero2").select2({
        placeholder: "Select a Hero",
        allowClear: false,
    });
    if(location.hash !== ""){
        one = location.hash.split('&')[0].split('#')[1];
        two = location.hash.split('&')[1];
        if(two!="None"&&two!==""){$('#match-load2').append('<i class="fa fa-spinner fa-2x fa-spin"></i>');}
        if(one!="None")
        {
            $('#match-load1').append('<i class="fa fa-spinner fa-2x fa-spin"></i>');
            $.get("{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_hero_stats/{{ stats.player_id }}/" + one + "/",
            function (data) {
                $('#display1').append(data);
                $('#rows tr').click(function(){
                    window.location = $(this).attr('href');
                    return false;
                });
                $("#match-load1").empty();
            });
        }
        if(two!="None"&&two!=="")
        {
            $.get("{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_hero_stats/{{ stats.player_id }}/" + two + "/",
            function (data) {
                $('#display2').append(data);
                $('#rows tr').click(function(){
                    window.location = $(this).attr('href');
                    return false;
                });
            $("#match-load2").empty();
            });
        }
    }
});
</script>
<script>
$("#hero1").change(function(){
    split = location.hash.split('&')[1];
    if(split === undefined){split='None';}
    window.location.hash = $("#hero1").select2("val") + '&' + split;
    $('#match-load1').append('<i class="fa fa-spinner fa-2x fa-spin"></i>');
    $("#display1").empty();
    $.get("{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_hero_stats/{{ stats.player_id }}/" + String($("#hero1").select2("val")) + "/",
        function (data) {
            $('#display1').append(data);
            $('#rows tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
            $("#match-load1").empty();
        });
});
$("#hero2").change(function(){
    split = location.hash.split('&')[0];
    if(split === undefined){split='None';}
    window.location.hash = split + '&' + $("#hero2").select2("val");
    $('#match-load2').append('<i class="fa fa-spinner fa-2x fa-spin"></i>');
    $("#display2").empty();
    $.get("{% if mode == 'cs' %}/c{% elif mode == 'acc' %}/p{% endif %}/player_hero_stats/{{ stats.player_id }}/" + String($("#hero2").select2("val")) + "/",
        function (data) {
            $('#display2').append(data);
            $('#rows tr').click(function(){
                window.location = $(this).attr('href');
                return false;
            });
            $("#match-load2").empty();
        });
});
</script>
{% endblock main_content %}
