{% extends 'base.html' %}

{% block page_title %}{{ match_id }} Recent Matches | HonBot {% endblock %}

{% block main_content %}
<br>
<div class="container">
    <div class="row">
        <div class="span12">
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Match ID</th>
                    <th>Length</th>
                    <th>Mode</th>
                    <th>Map</th>
                </thead>
                <tbody>
                    {%for m in matches%}
                    <tr>
                        <td><a href="/match/{{m.match_id}}">{{m.match_id}}</a></td>
                        <td>{{m.realtime}}</td>
                        <td>{%if m.mode == "rnk"%}Ranked{%elif m.mode == "cs"%}Casual{% else %}Public{%endif%}</td>
                        <td>{{m._map}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="pagination text-center">
                <ul>  
                    {% if matches.has_previous %}
                        <li><a href="?page=1">first</a></li>
                        <li><a href="?page={{ matches.previous_page_number }}">previous</a></li>
                    {% endif %}  
                    {% if matches.has_next %}
                        <li><a href="?page={{ matches.next_page_number }}">next</a></li>
                        <li><a href="?page={{ matches.paginator.num_pages }}">last</a></li>
                    {% endif %} 
                </ul>
            </div>
            <p class="text-center"><small>Page {{ matches.number }} of {{ matches.paginator.num_pages }}</small></p>
        </div>
    </div>
</div>
{% endblock main_content %}