{% extends 'base.html' %}

{% block page_title %}{{ match_id }} Recent Matches | HonBot {% endblock %}

{% block main_content %}
<br>
<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Match ID</th>
                    <th>Length</th>
                    <th>Mode</th>
                    <th>Winner</th>
                    <th>Legion</th>
                    <th>Hellborne</th>
                </thead>
                <tbody>
                    {%for m in matches%}
                    <tr>
                        <td><a href="/match/{{m.match_id}}">{{m.match_id}}</a></td>
                        <td>{{m.realtime}}</td>
                        <td>{%if m.mode == "rnk"%}Ranked{%elif m.mode == "cs"%}Casual{% else %}Public{%endif%}</td>
                        <td>{%if m.winner == 1%}Legion{%else%}Hellborne{%endif%}</td>
                        <td>
                            {% for h in m.legion %}
                                <img style="width:30px" src='/static/img/heroes/{{ h }}/icon_128.jpg'>
                            {%endfor%}
                        </td>
                        <td>
                            {% for h in m.hellborne %}
                                <img style="width:30px" src='/static/img/heroes/{{ h }}/icon_128.jpg'>
                            {%endfor%}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="pagination text-center">
                <ul>  
                    {% if pag.has_previous %}
                        <li><a href="?page=1"><i class="icon-angle-left"></i><i class="icon-angle-left"></i> first</a></li>
                        <li><a href="?page={{ pag.previous_page_number }}"><i class="icon-angle-left"></i> previous</a></li>
                    {% endif %}
                    {% if pag.has_next %}
                        <li><a href="?page={{ pag.next_page_number }}">next <i class="icon-angle-right"></i></a></li>
                        <li><a href="?page={{ pag.paginator.num_pages }}">last <i class="icon-angle-right"></i><i class="icon-angle-right"></i></a></li>
                    {% endif %} 
                </ul>
            </div>
            <p class="text-center"><small>Page {{ pag.number }} of {{ pag.paginator.num_pages }}</small></p>
        </div>
    </div>
</div>
{% endblock main_content %}