{% extends 'base.html' %}

{% block page_title %}Honbot.com Website Statistics | HonBot {% endblock %}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>HonBot Statistics <small>Free of charge</small></h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
            <h3 class="text-honbot">API</h3>
            <div id="apicount" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-honbot">Players</h4>
            <div id="players" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-honbot">Matches</h4>
            <div id="matches" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-honbot">Players in Matches</h4>
            <div id="playermatches" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title text-center">Cron Jobs</h4></div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                    {% for job in cronjobs %}
                        <li><span class="text-muted">{{ job.start_time }}</span> - {{ job.code }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>
{%block js%}
<script src="/static/js/highcharts.js"></script>
<script>
$(function () {
    $('#players').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{% for p in players %}"{{ p.date }}",{% endfor %}],
            labels: {
                enabled: false
            },
            lineColor: '#222222',
        },
        yAxis: [{
            title: {
                text: ''
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            gridLineColor: '#4f4c50'
        }],
        credits: {enabled: false},
        colors: ['#ff2339'],
        plotOptions: {
                series: {
                    animation: false,
                }
            },
        series: [{
            showInLegend: false,
            name: 'Players',
            data: [{% for p in players %}{{ p.count }},{% endfor %}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#matches').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{% for m in matches %}"{{ m.date }}",{% endfor %}],
            labels: {
                enabled: false
            },
            lineColor: '#222222',
        },
        yAxis: [{
            title: {
                text: ''
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            gridLineColor: '#4f4c50'
        }],
        credits: {enabled: false},
        colors: ['#e800ff'],
        plotOptions: {
                series: {
                    animation: false,
                }
            },
        series: [{
            showInLegend: false,
            name: 'Matches',
            data: [{% for m in matches %}{{ m.count }},{% endfor %}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#playermatches').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{% for m in playermatches %}"{{ m.date }}",{% endfor %}],
            labels: {
                enabled: false
            },
            lineColor: '#222222',
        },
        yAxis: [{
            title: {
                text: ''
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            gridLineColor: '#4f4c50'
        }],
        credits: {enabled: false},
        colors: ['#1974FF'],
        plotOptions: {
                series: {
                    animation: false,
                }
            },
        series: [{
            showInLegend: false,
            name: 'Players in matches',
            data: [{% for m in playermatches %}{{ m.count }},{% endfor %}],
        }]
    });
});
</script>
<script>
$(function () {
    $('#apicount').highcharts({
        chart:{
            backgroundColor: null,
        },
        title: {
            text: '',
        },
        xAxis: {
            categories: [{% for m in api %}"{{ m.date }}",{% endfor %}],
            labels: {
                enabled: false
            },
            lineColor: '#222222',
        },
        yAxis: [{
            title: {
                text: ''
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            gridLineColor: '#4f4c50'
        }],
        credits: {enabled: false},
        colors: ['#aedf16'],
        plotOptions: {
                series: {
                    animation: false,
                }
            },
        series: [{
            showInLegend: false,
            name: 'API calls',
            data: [{% for m in api %}{{ m.count }},{% endfor %}],
        }]
    });
});
</script>
{% endblock %}
{% endblock %}