{% extends 'base.html' %}

{% block page_title %}Top Charts | HonBot Heroes of Newerth Stats {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul style="margin-top: -20px;" class="nav nav-pills nav-justified">
                <li><a href="/player/">Browse</a></li>
                <li><a href="/distribution/">Player Distribution</a></li>
                <li class="active"><a href="/top/">7-Day High Score</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Kills</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Items</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>Assists</th>
                    <th>KDR</th>
                    <th>APM</th>
                    <th>GPM</th>
                    <th>Length</th>
                    <th>Win?</th>
                    <th>Date</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in kills%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{ m.hero }}/icon_128.jpg"> <a href="/player/{{ m.nickname }}/">{{ m.nickname }}</a></td>
                        <td>
                            {% for item in m.items %}
                                {% if item != None  %}
                                    <img style="width:30px;" src='/static/img/items/{{ item }}.jpg'>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ m.kills }}</td>
                        <td>{{ m.deaths }}</td>
                        <td>{{ m.assists }}</td>
                        <td>{{ m.kdr }}</td>
                        <td>{{ m.apm }}</td>
                        <td>{{ m.gpm }}</td>
                        <td>{{ m.match.realtime }}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td>{% load prettytimes_tags %}{{ m.date|relative_time }}</td>
                        <td><a href="/match/{{ m.match_id }}/">{{ m.match_id }}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Deaths</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Deaths</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in deaths%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.deaths}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Wards</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Wards</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in wards%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.wards}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Assists</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Assists</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in assists%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.assists}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Denies</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Denies</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in denies%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.denies}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Creep Kills</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>CS</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in cs%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{ m.nickname }}/">{{ m.nickname }}</a></td>
                        <td>{{ m.cs }}</td>
                        <td>{% if m.win %}Yes{% else %}No{% endif %}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <h3 class="text-center">Smackdowns</h3>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Smacks</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in smackdown%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.smackdown}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container adsbygoogle">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center hidden-xs hidden-sm">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dark - bottom banner! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:970px;height:90px"
                 data-ad-client="ca-pub-7640562161899788"
                 data-ad-slot="7614685358"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock main_content %}