{% extends 'base.html' %}

{% block page_title %}Top Charts | HonBot Heroes of Newerth Stats {% endblock %}

{% block main_content %}
<div class="container">
    <br>
    <div class="alert">
        <strong>Warning!</strong> this is still under construction.
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">7 Days</a></li>
    </ul>
    <div class="row">
        <div class="span12">
            <legend class="text-center">Kills</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Items</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>Assists</th>
                    <th>KDR</th>
                    <th>APM</th>
                    <th>GPM</th>
                    <th>Length</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in kills%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>
                            {% for item in m.items %}
                                {% if item != None  %}
                                    <img style="width:30px;" src='/static/img/items/{{item}}.jpg'>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{m.kills}}</td>
                        <td>{{m.deaths}}</td>
                        <td>{{m.assists}}</td>
                        <td>{{m.kdr}}</td>
                        <td>{{m.apm}}</td>
                        <td>{{m.gpm}}</td>
                        <td>{{m.match.realtime}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <legend class="text-center">Deaths</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Deaths</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in deaths%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.deaths}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="span4">
            <legend class="text-center">Wards</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Wards</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in wards%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.wards}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="span4">
            <legend class="text-center">Assists</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>Assists</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in assists%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.assists}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <legend class="text-center">GPM</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>GPM</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in gpm%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.gpm}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="span4">
            <legend class="text-center">APM</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>APM</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in apm%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.apm}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="span4">
            <legend class="text-center">Creep Kills</legend>
            <table class="table table-condensed table-striped table-stats">
                <thead>
                    <th>Player</th>
                    <th>CS</th>
                    <th>Win?</th>
                    <th>Match</th>
                </thead>
                <tbody>
                    {%for m in cs%}
                    <tr>
                        <td><img style="width: 30px;" src="/static/img/heroes/{{m.hero}}/icon_128.jpg"> <a href="/player/{{m.nickname}}/">{{m.nickname}}</a></td>
                        <td>{{m.cs}}</td>
                        <td>{% if m.win %}Yes{%else%}No{%endif%}</td>
                        <td><a href="/match/{{m.match_id}}/">{{m.match_id}}</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}