/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #fff;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
body {
  background-color: #e7ebf2;
}
.navbar-inverse{
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
  margin-top: 3px;
  padding-left: 15px;
  line-height: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#searchform{
  padding-left: 0;
}
.navbar-inverse .navbar-brand:hover{
  text-shadow: -1px 1px 8px #fff, 1px -1px 8px #fff;
}
/* Hero */
.hero-container {
  background-color: #222222;
  background-position: 90% 55%;
  background-size: 800px auto;
  background-repeat:no-repeat;
  padding: 0 0 100px;
}
.hero-container a{
  color: #eee;
}
.home-box{
  font-size: 110%;
}
.hero-container h1{
  padding: 60px 0 20px;
  font-size: 6em;
  font-family: 'Questrial', sans-serif;
  color: #fff;
}
/* Footer */
.container .credit {
  margin: 20px 0;
  float: left;
}
.container .credit-links {
  margin: 20px 0;
}
.no-bpadding{
  padding-bottom: 1px;
}
.list-inline > li{
  padding-right: 0;
}
.list-inline > li + li::before {
    content: "- ";
    margin-right: 5px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}
/* player view */
.player-head {
    background-color: #2C3E50;
    color: #FFF;
    margin-top: -20px;
}
.btn-group-vertical > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.player-head .btn-group-vertical {
  margin-top:-39px;
  margin-bottom:-5px;
}
.player-head h1{
  margin-bottom: 0;
  display: inline-block;
}
.player-head h2{
  margin-top: 20px;
  margin-bottom: 0;
  letter-spacing: 1px;
  display: inline-block;
}
.player-head h2 img{
  margin-top: -20px;
  width: 65px;
  margin-right: 5px;
  padding-bottom: 0;
}
.player-head h4{
  margin-bottom: 2px;
}
.player-head h1 img{
  margin-top: -25px;
  margin-bottom: -2px;
  margin-right: 5px;
  margin-left: -3px;
}
.nav-pills > li.active > a{
  background-color: #395067;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}
.nav-pills > li.active > a:hover{
  background-color: #395067;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-pills > li > a:hover{
  background-color: #395067;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-pills > li > a:active{
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(125, 125, 125, 0.125);
  box-shadow: inset 0 3px 5px rgba(125, 125, 125, 0.125);
}
.nav-pills > li > a{
  background-color: #cbcfd6;
  color: #000;
  font-weight: 400;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-right: 6px;
  margin-left: 0;

}
.nav-pills > li:last-child > a{
  margin-right: 0;
}
#player-bar {
  background-color: #fff;
  font-size:12px;
  margin-top: 3px;
  line-height: 12px;
  height: 30px;
}
/* Match History */
.match-loss{
  border-collapse:separate;
  border-left: 2px;
  border-left-style: solid;
  border-left-color: #CC0000;
  background-color: rgb(204,0,0);
  background-color: rgba(204,0,0, .2);
}
.table tbody > tr > td{
  padding-bottom: 3px;
  padding-top: 3px;
  line-height: 25px;
}
.match-win {
  border-collapse:separate;
  border-left: 2px;
  border-left-style: solid;
  border-left-color: #006600;
  background-color: rgb(0,171,57);
  background-color: rgba(0,171,57, .2);
  padding-bottom: 0;
}
.recent-match td{
    vertical-align: middle;
    cursor: pointer;
    text-align:center;
}
.recent-match tbody > tr > td{
  border-color: #fff;
}
.recent-match a{
  color: #191919;
}
.recent-match tbody tr:hover{
    background-color: #fff;
}
.recent-match td:nth-child(1){
  text-align: left;
}
.recent-match th:nth-child(1){
  text-align: left;
}
.recent-match thead{
  background-color: #fff;
  margin-left: 5px;
  border-radius: 4px;
  border-bottom: 0;
}
#srchbtn{
  margin-bottom: -3px;
}
.panel-hero{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.panel-swag-right{
  margin-right: 0;
}
.ptip-header{
  padding: 9px 6px;
  margin:-10px -15px 0px -15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.ptip-body{
  margin: 0 -10px 0 -10px;
}
.ptip-body li{
  padding: 0 0 0 0;
  margin: 0 0 -8px 0;
}
.list-unstyled > li + li:before{
  border-bottom: 1px solid #ebebeb;
}
.ptip-header img{
  margin-top: -5px;
  margin-right: 4px;
}
.table-match th, .table-match td{
  text-align: center;
}
.table-match, .table-match a{
  color: #000;
}
.table-match thead{
  background-color: #fff;
  margin-left: 5px;
  border-radius: 4px;
}
.table-match td:nth-child(1), .table-match th:nth-child(1), .table-match td:nth-child(2), .table-match th:nth-child(2){
  text-align: left;
  padding-left: 4px;
}
.table-match > tbody:nth-child(2){
  border-style:solid;
  border-spacing: 1px 1px;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px !important;
  border-color: #eee;
}
.player-0-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #002c9f;
  background-color: #fff;
  background-color: rgba(0, 44, 159, .1);
}
.player-1-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #00c19e;
  background-color: #fff;
  background-color: rgba(0, 193, 158, .1);
}
.player-2-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #770092;
  background-color: #fff;
  background-color: rgba(119, 0, 146, .1);
}
.player-3-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #f2d500;
  background-color: #fff;
  background-color: rgba(242, 213, 0, .1);
}
.player-4-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ff7d29;
  background-color: #fff;
  background-color: rgba(255, 125, 41, .1);
}
.player-5-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #ff44ab;
  background-color: #fff;
  background-color: rgba(255, 68, 171, .1);
}
.player-6-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #727272;
  background-color: #fff;
  background-color: rgba(114, 114, 114, .1);
}
.player-7-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #00a0da;
  background-color: #fff;
  background-color: rgba(0, 160, 218, .1);
}
.player-8-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #006448;
  background-color: #fff;
  background-color: rgba(0, 100, 72, .1);
}
.player-9-row{
  border-collapse:separate;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: #562507;
  background-color: #fff;
  background-color: rgba(86, 37, 7, .1);
}
.player-0 a{
  color: black;
  padding-left: 1px;
  border-left:solid #002c9f;
}
.player-1 a{
  color: black;
  padding-left: 1px;
  border-left:solid #00c19e;
}
.player-2 a{
  color: black;
  padding-left: 1px;
  border-left:solid #770092;
}
.player-3 a{
  color: black;
  padding-left: 1px;
  border-left:solid #f2d500;
}
.player-4 a{
  color: black;
  padding-left: 1px;
  border-left:solid #ff7d29;
}
.player-5 a{
  color: black;
  padding-left: 1px;
  border-left:solid #ff44ab;
}
.player-6 a{
  color: black;
  padding-left: 1px;
  border-left:solid #727272;
}
.player-7 a{
  color: black;
  padding-left: 1px;
  border-left:solid #00a0da;
}
.player-8 a{
  color: black;
  padding-left: 1px;
  border-left:solid #006448;
}
.player-9 a{
  color: black;
  padding-left: 1px;
  border-left:solid #562507;
}

.chat-time{
  display: inline-block;
  min-width: 40px;
  text-align: center;
}
.chat-team{
  display: inline-block;
  min-width: 70px;
}
.chat-name, .chat-msg{
  display: inline-block;
}
.chat-row{
  display: block;
}
.build-container{
  display: inline-block;
}
.build-block{
  display: inline-block;
}
.build-row {
  width: 45px;
  float: left;
  text-align: center;
}
.build-move{
  width: 45px;
  height: 45px;
  border-style: solid;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #ddd;
  line-height: 39px;
  font-weight:bold;
}
.build-row img{
  width: 43px;
  margin: 1px 1px 1px 1px;
}

/* fix select2 */
.select2-container {
  padding: 0px;
  border-width: 0px;
}
.select2-container .select2-choice {
  height: 38px;
  line-height: 38px;
}
/* end fix select2 */
@media(max-width:480px){
  .hero-container{
      background-size: 0 0;
  }
}
@media(min-width:480px) and (max-width:767px){
  .hero-container{
        background-size: 0 0;
    }
}

/*
 * DataTable.js
 */
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;
}
table.dataTable a{
  color: #000;
}
table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}
table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}
table.dataTable td {
  padding: 3px 10px;
}
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable tr.odd { background-color: #efefef; }
table.dataTable tr.even { background-color: #FFF; }

table.dataTable tr.odd td.sorting_1 { background-color: #bebebe; }
table.dataTable tr.odd td.sorting_2 { background-color: #bebebe; }
table.dataTable tr.odd td.sorting_3 { background-color: #bebebe; }
table.dataTable tr.even td.sorting_1 { background-color: #d6d6d6; }
table.dataTable tr.even td.sorting_2 { background-color: #d6d6d6; }
table.dataTable tr.even td.sorting_3 { background-color: #d6d6d6; }

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 26px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none;
}
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}
/* Full number pagination */
.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}
.paging_full_numbers a:active {
  outline: none
}
.paging_full_numbers a:hover {
  text-decoration: none;
}
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
}
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}
/*
 * Processing indicator
 */
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 40px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 10px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}
.sorting { background: url('../img/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

.box.box-condensed .box-title {
  padding: 2px 0 2px 4px;
}
.box.box-condensed .box-title h3 {
  font-size: 18px;
}
.box.box-condensed .box-title .actions {
  margin-top: 1px;
}
.box.box-condensed .box-title .actions .btn > i {
  font-size: 12px;
}
.box.box-condensed .box-title .actions .btn {
  padding: 4px 8px;
}
.box.box-condensed .box-content {
  padding: 10px;
}
.box.box-small .box-title {
  padding: 0 0 0 3px;
}
.box.box-small .box-title h3 {
  font-size: 16px;
}
.box.box-small .box-title .actions {
  margin-top: 3px;
}
.box.box-small .box-title .actions .btn > i {
  font-size: 11px;
}
.box.box-small .box-title .actions .btn {
  padding: 2px 7px;
}
.box.box-small .box-content {
  padding: 5px;
}
.box.box-color .box-title {
  background: #2C3E50;
}
.box.box-color .box-title h3 {
  color: #fff;
}
.box.box-bordered .table {
  margin-bottom: 0;
}
.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned {
  border-right: 2px solid #ddd;
}
.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned th {
  border-right: 2px solid #333;
}
.box.box-bordered .table.dataTable-fixedcolumn.DTFC_Cloned td {
  text-align: center;
}
.box.box-bordered .table.table-bordered {
  border-right: 0;
}
.box.box-bordered .table.table-bordered th:first-child, .box.box-bordered .table.table-bordered td:first-child {
  border-left: 0;
}
.box.box-bordered .table.table-bordered th:last-child, .box.box-bordered .table.table-bordered td:last-child {
  border-right: 0;
}
.box.box-bordered .form-bordered {
  margin-bottom: 0;
}
.box.box-bordered.box-color .box-title {
  border-color: #2C3E50;
}
.box.box-bordered.box-color .box-content {
  border-color: #2C3E50;
}
.box.box-bordered .box-title {
  border: 2px solid #ddd;
}
.box.box-bordered .box-content {
  border: 2px solid #ddd;
  border-top: 0;
}
.box .box-title {
  *zoom: 1;
  border-bottom: 1px solid #ddd;
  padding: 7px 0 7px 10px;
  margin-top: 20px;
}
.box .box-title:after {
  content: "";
  display: table;
  clear: both;
}
.box .box-title h3 {
  float: left;
  margin: 3px 0 3px 0;
  line-height: 24px;
  font-weight: 400;
  color: #444;
  font-size: 20px;
}
.box .box-title h3 i {
  margin: 0 10px 0 5px;
}
.box .box-content {
  *zoom: 1;
  padding: 20px;
  background: #fff;
}
.box .box-content:after {
  content: "";
  display: table;
  clear: both;
}
.table.dataTable {
  margin-bottom: 10px;
  clear: both;
}
.table.dataTable .sorting_asc {
  background: url("/static/img/sorting-asc.png") no-repeat right center #eeeeee;
}
.table.dataTable .sorting_desc {
  background: url("/static/img/sorting-desc.png") no-repeat right center #eeeeee;
}
.table.dataTable .sorting {
  background: url("/static/img/sorting.png") no-repeat right center #eeeeee;
}
.table.dataTable .sorting, .table.dataTable .sorting_desc, .table.dataTable .sorting_asc {
  padding-right: 30px;
  white-space: nowrap;
}
.table.dataTable.dataTable-scroll-x {
  border-collapse: separate;
  max-width: none;
}
.table.dataTable.dataTable-scroll-x td {
  white-space: nowrap;
}
.table.dataTable th:focus {
  outline: none;
}
.table.dataTable.dataTable-reorder th:hover {
  cursor: move;
}
.table.table-colored-header thead th, .table.table-colored-header thead td {
  background: #368ee0;
  color: #fff;
}
.table.table-nohead thead {
  display: none;
}
.table.table-nohead thead th, .table.table-nohead thead td {
  display: none;
}
.table.table-nohead tr:first-child td {
  border: 0;
}
.table tr td {
  vertical-align: middle;
}
.table tr td .label {
  margin-right: 3px;
}
.table-pagination {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-pagination > a {
  margin-right: 5px;
  background: #eee;
  padding: 3px 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.table-pagination > a.disabled {
  color: #999;
}
.table-pagination > a.disabled:hover {
  background: #eee;
  cursor: default;
}
.table-pagination > a:hover {
  background: #ddd;
}
.table-pagination > span > a {
  padding: 3px 8px;
  margin-right: 5px;
  background: #eee;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.table-pagination > span > a.active {
  background: #368ee0;
  color: #fff;
}
.disabled {
  color: #999;
}
button.ColVis_Button {
  text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}
div.ColVis_collection button.ColVis_Group:hover {
  background: #bababa;
  border: 1px solid #424242;
}
span.ColVis_radio {
  display: inline-block;
  width: 20px;
}
.dataTables_wrapper .ColVis {
  margin: 10px 10px 10px 0;
}
.dataTables_wrapper .ColVis .ColVis_Button {
  background: #eee;
  padding: 3px 8px;
  border: 0;
}
.dataTables_wrapper .ColVis .ColVis_Button i {
  margin-left: 5px;
}
.dataTables_wrapper .ColVis .ColVis_Button:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_length {
  float: left;
  min-width: 200px;
  margin: 10px 10px 5px 10px;
}
.dataTables_wrapper .dataTables_length .input-mini {
  float: left;
}
.dataTables_wrapper .dataTables_length label > span {
  float: left;
  margin: 4px 5px;
}
.dataTables_wrapper .DTTT_container {
  margin: 10px 5px 10px 0;
}
.dataTables_wrapper .DTTT_container .DTTT_button {
  background: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin-right: 5px;
  color: #333;
}
.dataTables_wrapper .DTTT_container .DTTT_button:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  margin: 10px 10px 5px 5px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-bottom: 0;
}
.dataTables_wrapper .dataTables_info {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_info span {
  font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate > a {
  margin-right: 5px;
  background: #eee;
  padding: 3px 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > a.paginate_button_disabled {
  color: #999;
}
.dataTables_wrapper .dataTables_paginate > a.paginate_button_disabled:hover {
  background: #eee;
  cursor: default;
}
.dataTables_wrapper .dataTables_paginate > a:hover {
  background: #ddd;
}
.dataTables_wrapper .dataTables_paginate > span > a {
  padding: 3px 8px;
  margin-right: 5px;
  background: #eee;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate > span > a.paginate_active {
  background: #368ee0;
  color: #fff;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.nopadding {
  padding: 0 !important;
}