<!-- Main Hero -->
<div class="hero-container jumbotron" ng-style="{'background-image': 'url({{ image }})'}">
    <div class="container">
        <div class="row">
            <!-- search -->
            <form ng-submit="search()">
                <h1 class="text-center">honbot</h1>
                <div class="input-group input-group-lg col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-sm-12">
                    <input type="text" ng-model="nickname" placeholder="Username" class="form-control input-md" spellcheck="false" autocorrect="off" autocapitalize="off" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-md" type="button">Go</button>
                    </span>
                </div>
            </form>
            <br>
        </div>
        <div class="row">
            <ul class="list-inline text-muted text-center home-inline">
                <li><a href="/player/">Players</a></li>
                <li><a href="/match/">Matches</a></li>
                <li><a href="/hero/">Heroes</a></li>
                <li><a href="/item/">Items</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Recent Changes</h3>
                </div>
                <div class="panel-body">
                    Footer?
                </div>
            </div>
        </div>

        <!-- status pannel -->
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Server Stats</h3>
                </div>
                <div class="panel-body">
                    <strong>Database:</strong>
                    <ul class="list-unstyled list-push">
                        <li>Players: {{ stats.players | number }}</li>
                        <li>Matches: {{ stats.matches | number }}</li>
                    </ul>
                    <strong>S2 API:</strong>
                    <ul class="list-unstyled list-push">
                        <li ng-if="status">Status: Working</li>
                        <li ng-if="!status">Status: Possibly not working</li>
                        <li>API calls today: {{ stats.daily }}</li>
                    </ul>
                </div>
                <div class="panel-footer"><a href="/sitestats/">Site Statistics</a>
                </div>
            </div>
        </div>
    </div>
</div>
