// bootstrap
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-only/scss/bootstrap";
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
$footer-size: 90px;
body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-size;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: $footer-size;
    border: 1px solid $panel-inner-border;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding-top: 20px;
    text-align: center;
}
/* Main Styles
-------------------------------------------------- */