/* Honbot Styles */
@import url(http://fonts.googleapis.com/css?family=Questrial);
/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 6px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Background Image */
body {
    background-color: #fff;
}

/* Home Page Boxes */
.home-box{
    font-size: 16px;
    line-height: 1.5;
}
/* Hero */
.hero-title {
  padding: 60px 0 50px;
}
.hero-title h1 {
  font-size: 90px;
  color: #fff;
  line-height: 1em;
  text-align: center;
  vertical-align: top;
  font-family: 'Questrial', sans-serif;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}
.hero-search {
  text-align: center; 
  margin-bottom: 90px;
}
.hero-search .search-query {
  width: 60%; 
  max-width: 800px; 
  float: none!important;
}
.hero-search input.search-query {
  padding: 24px;
  font-size: 20px;
  color: #999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: normal;
  box-shadow: none;
}
.hero-search input.search-query, .page-header input.search-query {
  border: solid 1px #bbb;
}
.hero-search input.search-query:focus {
  outline: none; 
  box-shadow: none;
  line-height:normal;
  color: #000;
}
.btn-black {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 11px;
  border: 2px solid #BBB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #252525;
  color: white;
  transition: background .10s ease-in-out;
  -moz-transition: background .10s ease-in-out;
  -webkit-transition: background .10s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-black:hover{
    background-color: #111;
}
.hero-search .btn-black {
  font-size: 20px;
  width: 180px;
  height: 70px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 7px; 
  -webkit-border-radius: 7px;
  border-radius: 7px; 
}
#hero {
    background-color: #2C3E50;
    background-image: url('/static/img/home_hero/store-66.png');
    background-position: 90% 50%;
    background-size: 900px auto;
    background-repeat:no-repeat;

}
@media(max-width:480px){
  body{padding:0}
  #hero h1 {
        font-size: 75px;
    }
    #hero{
        background-size: 0 0;
    }
}

@media(min-width:480px) and (max-width:767px){
  body{padding:0}
  #hero{
        background-size: 0 0;
    }
}
/* Header Container and Logo Styles */

.navbar-inverse .navbar-inner {
  background: #252525;
}
.navbar-inner {
  border: none;
}
.brand {
    margin-top: 15px !important;
    font-weight: 600 !important;
    font-size: 30px !important;
    font-family: 'Questrial', sans-serif;
}

.navbar .nav > li > a {
    padding: 25px 14px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
}
.navbar .nav {
  float: right;
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
}
/* Sticky Footer */
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
}

#push,
.footer {
    padding-top: 20px;
    height: 40px;
    text-align: center;
}
.footer{
    background-color: rgb(37, 37, 37);
    border-top: 1px solid #e5e5e5;
    color: #aaa;
    font-size: 0.85em;
}
.footer a{
    color: #fff;
}

.table-condensed{
    margin-bottom: 0;
    margin-top: 0;
}
@media (max-width: 767px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
    }

}

.footer p {
    margin-bottom: 0;
}

/* Flat Btn */
.btn {
  border: none;
  background: #252525;
  color: white;
  font-size: 16.5px;
  font-weight: 300;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #2C3E50;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }
