/* Honbot Styles */

/* flat wells */
.well {
  background-color: #fff;
  border-radius: 3px;
  border-width: 0 0 0 0;
}
/* hr style */
hr{
  border-top-color: #bbb;
}
/* square tabs */
.nav-tabs > li > a{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #252525;
}

/* Table Formatting */
.recent-match tbody tr:hover {
    background-color: #bdc3c7;
}
.table-striped tbody tr:nth-child(odd) tr:hover{
    background-color: #bdc3c7;
}
.recent-match td{
    vertical-align: middle;
    cursor: pointer;
    text-align:center;
}
.recent-match a{
  color: #191919;
}

.match-loss{
  border-collapse:separate;
  border-left: 4px;
  border-left-style: solid;
  border-left-color: #c0392b;
  background-color: rgb(192,57,43);
  background-color: rgba(192,57,43, .1);
}

.match-win {
  border-collapse:separate;
  border-left: 4px;
  border-left-style: solid;
  border-left-color: #27ae60;
  background-color: rgb(39,174,96);
  background-color: rgba(39,174,96, .1);
}
.table th{
  text-align: center;
}

.white {
  background-color: #fff;
}

/* color changes */
.text-info {
  color: #2980B9;
}
.text-tsr {
  color: #8E44AD;
}
.text-black {
  color: #000;
}
.text-success {
  color: #1f8b4c;
}
.text-error {
  color: #C0392B;
}
.muted {
  color: #BDC3C7;
}
/* shrink legend margin */
legend{
  margin-bottom: 5px;
}
/* headers */
h1 {
  font-size: 32px;
  font-weight: 900; }

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

/* Home Page Boxes */
.home-box{
    font-size: 16px;
    line-height: 1.5;
}
.home-box a{
    color: #2C3E50;
}
.home-box a:hover{
    color: #2C3E50;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
/* Hero */
.hero-title {
  padding: 60px 0 50px;
}
.hero-title h1 {
  font-size: 90px;
  color: #fff;
  line-height: 1em;
  text-align: center;
  font-weight: 600;
  vertical-align: top;
  font-family: 'Questrial', sans-serif;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}
.hero-search {
  text-align: center; 
  margin-bottom: 90px;
}
.hero-search .search-query {
  width: 60%; 
  max-width: 800px; 
  float: none!important;
}
.hero-search input.search-query {
  padding: 24px;
  font-size: 20px;
  color: #999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: normal;
  box-shadow: none;
}
.hero-search input.search-query, .page-header input.search-query {
  border: solid 1px #bbb;
}
.hero-search input.search-query:focus {
  outline: none; 
  box-shadow: none;
  line-height:normal;
  color: #000;
}

/* Match Stats table */
.match-table{

}

.btn-black {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 11px;
  border: 2px solid #BBB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #252525;
  color: white;
  transition: background .10s ease-in-out;
  -moz-transition: background .10s ease-in-out;
  -webkit-transition: background .10s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-black:hover{
    background-color: #111;
}
.hero-search .btn-black {
  font-size: 20px;
  width: 180px;
  height: 70px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 7px; 
  -webkit-border-radius: 7px;
  border-radius: 7px; 
}
/* roatating background hero image */
#hero {
    background-color: #2C3E50;
    background-position: 90% 50%;
    background-size: 900px auto;
    background-repeat:no-repeat;
}
@media(max-width:480px){
  body{padding:0}
  #hero h1 {
        font-size: 75px;
    }
    #hero{
        background-size: 0 0;
    }
}

@media(min-width:480px) and (max-width:767px){
  body{padding:0}
  #hero{
        background-size: 0 0;
    }
}
/* Header Container and Logo Styles */

.navbar-inverse .navbar-inner {
  background: #252525;
}
.navbar-inner {
  border: none;
}
.navbar form{
  padding-top: 15px;
}
.brand {
    margin-top: 15px !important;
    font-size: 30px !important;
    font-family: 'Questrial', sans-serif;
}
.brand:hover{
    color: #2C3E50 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; 
}

.navbar .nav > li > a {
    padding: 25px 14px;
}
.navbar .nav > li > a:hover {
    color: #2C3E50;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; 
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
}
.navbar .nav {
  float: right;
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
}

.table-condensed{
    margin-bottom: 0;
    margin-top: 0;
}
.footer{
  margin-top: 60px;
  color: #777;
  font-size: 12px;
}
.footer a{
  color: #444;
}

/* Flat Btn */
.btn {
  border: none;
  background: #252525;
  color: white;
  font-weight: 300;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #2C3E50;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #7F8C8D; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #95A5A6; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #2C3E50; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }

/* Player Stats Header
------------------------- */
.player-head {
    position: relative;
    background-color: #2C3E50;
    color: #FFF;
    font-weight: 200;
    padding-bottom: 0;
}
.player-head h1{
  font-size: 50px;
  color: #fff;
  padding-top: 10px;
}
.player-head strong{
  font-weight: 400;
  font-size: 14px;
}
.player-head p{
  margin-top: 0px;
}
.player-tsr {
  background-color: #34495e;
  font-size: 24px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px
}
