/* Honbot Styles */

/* Background Image */
body {
    background-image:url('/static/img/white_plaster.png');
}

/* flat wells */
.well {
  background-color: #fff;
  border-radius: 3px;
  border-width: 0 0 0 0;
}
.muted {
  color: #BDC3C7;
}
.recent-match tbody tr:hover {
    background-color: #bdc3c7 !important;
}

.recent-match a{
  color: #191919;
}

.match-loss{
  border-left-width:4px !important;
  border-left-color:#C0392B !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.match-win{
  border-left-width:4px !important;
  border-left-color:#27AE60 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.table-bordered{
  border-radius: 0px;
}
.table th{
  text-align: center;
}
.recent-match td{
    vertical-align: middle;
    cursor: pointer;
    text-align:center;
}
.white {
  background-color: #fff;
}

/* color changes */
.text-info {
  color: #2980B9;
}
.text-tsr {
  color: #8E44AD;
}
.text-black {
  color: #000;
}
.text-success {
  color: #27AE60;
}
.text-error {
  color: #C0392B;
}
/* shrink legen margin */
legend{
  margin-bottom: 5px;
}
/* headers */
h1 {
  font-size: 32px;
  font-weight: 900; }

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px; }

h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

/* Home Page Boxes */
.home-box{
    font-size: 16px;
    line-height: 1.5;
}
.home-box a{
    color: #2C3E50;
}
.home-box a:hover{
    color: #2C3E50;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
/* Hero */
.hero-title {
  padding: 60px 0 50px;
}
.hero-title h1 {
  font-size: 90px;
  color: #fff;
  line-height: 1em;
  text-align: center;
  font-weight: 600;
  vertical-align: top;
  font-family: 'Questrial', sans-serif;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
}
.hero-search {
  text-align: center; 
  margin-bottom: 90px;
}
.hero-search .search-query {
  width: 60%; 
  max-width: 800px; 
  float: none!important;
}
.hero-search input.search-query {
  padding: 24px;
  font-size: 20px;
  color: #999;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  line-height: normal;
  box-shadow: none;
}
.hero-search input.search-query, .page-header input.search-query {
  border: solid 1px #bbb;
}
.hero-search input.search-query:focus {
  outline: none; 
  box-shadow: none;
  line-height:normal;
  color: #000;
}
.btn-black {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 11px;
  border: 2px solid #BBB;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #252525;
  color: white;
  transition: background .10s ease-in-out;
  -moz-transition: background .10s ease-in-out;
  -webkit-transition: background .10s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-black:hover{
    background-color: #111;
}
.hero-search .btn-black {
  font-size: 20px;
  width: 180px;
  height: 70px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  -moz-border-radius: 7px; 
  -webkit-border-radius: 7px;
  border-radius: 7px; 
}
/* roatating background hero image */
#hero {
    background-color: #2C3E50;
    background-position: 90% 50%;
    background-size: 900px auto;
    background-repeat:no-repeat;
}
@media(max-width:480px){
  body{padding:0}
  #hero h1 {
        font-size: 75px;
    }
    #hero{
        background-size: 0 0;
    }
}

@media(min-width:480px) and (max-width:767px){
  body{padding:0}
  #hero{
        background-size: 0 0;
    }
}
/* Header Container and Logo Styles */

.navbar-inverse .navbar-inner {
  background: #252525;
}
.navbar-inner {
  border: none;
}
.navbar form{
  padding-top: 15px;
}
.brand {
    margin-top: 15px !important;
    font-size: 30px !important;
    font-family: 'Questrial', sans-serif;
}
.brand:hover{
    color: #2C3E50 !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; 
}

.navbar .nav > li > a {
    padding: 25px 14px;
}
.navbar .nav > li > a:hover {
    color: #2C3E50;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; 
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #fff;
}
.navbar .nav {
  float: right;
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
}
/* Sticky Footer */
html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
}

#push,
.footer {
    padding-top: 20px;
    height: 40px;
    text-align: center;
}
.footer{
    background-color: rgb(37, 37, 37);
    border-top: 1px solid #e5e5e5;
    color: #aaa;
    font-size: 0.85em;
}
.footer a{
    color: #fff;
}

.table-condensed{
    margin-bottom: 0;
    margin-top: 0;
}
@media (max-width: 767px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
    }

}

.footer p {
  margin-bottom: 0;
}

/* Flat Btn */
.btn {
  border: none;
  background: #252525;
  color: white;
  font-weight: 300;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #2C3E50;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #7F8C8D; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #95A5A6; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #2C3E50; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }

/* Player Stats Header
------------------------- */
.player-head {
    position: relative;
    background-color: #2C3E50;
    color: #FFF;
    font-weight: 200;
    padding-bottom: 0;
}
.player-head h1{
  font-size: 50px;
  color: #fff;
  padding-top: 10px;
}
.player-head strong{
  font-weight: 400;
  font-size: 14px;
}
.player-head p{
  margin-top: 0px;
}
.player-tsr {
  background-color: #34495e;
  font-size: 24px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px
}

/* homepage backgrounds */
.hero-0{
background-image: url('/static/img/home_hero/store-0.png');
}
.hero-1{
background-image: url('/static/img/home_hero/store-1.png');
}
.hero-2{
background-image: url('/static/img/home_hero/store-2.png');
}
.hero-3{
background-image: url('/static/img/home_hero/store-3.png');
}
.hero-4{
background-image: url('/static/img/home_hero/store-4.png');
}
.hero-5{
background-image: url('/static/img/home_hero/store-5.png');
}
.hero-6{
background-image: url('/static/img/home_hero/store-6.png');
}
.hero-7{
background-image: url('/static/img/home_hero/store-7.png');
}
.hero-8{
background-image: url('/static/img/home_hero/store-8.png');
}
.hero-9{
background-image: url('/static/img/home_hero/store-9.png');
}
.hero-10{
background-image: url('/static/img/home_hero/store-10.png');
}
.hero-11{
background-image: url('/static/img/home_hero/store-11.png');
}
.hero-12{
background-image: url('/static/img/home_hero/store-12.png');
}
.hero-13{
background-image: url('/static/img/home_hero/store-13.png');
}
.hero-14{
background-image: url('/static/img/home_hero/store-14.png');
}
.hero-15{
background-image: url('/static/img/home_hero/store-15.png');
}
.hero-16{
background-image: url('/static/img/home_hero/store-16.png');
}
.hero-17{
background-image: url('/static/img/home_hero/store-17.png');
}
.hero-18{
background-image: url('/static/img/home_hero/store-18.png');
}
.hero-19{
background-image: url('/static/img/home_hero/store-19.png');
}
.hero-20{
background-image: url('/static/img/home_hero/store-20.png');
}
.hero-21{
background-image: url('/static/img/home_hero/store-21.png');
}
.hero-22{
background-image: url('/static/img/home_hero/store-22.png');
}
.hero-23{
background-image: url('/static/img/home_hero/store-23.png');
}
.hero-24{
background-image: url('/static/img/home_hero/store-24.png');
}
.hero-25{
background-image: url('/static/img/home_hero/store-25.png');
}
.hero-26{
background-image: url('/static/img/home_hero/store-26.png');
}
.hero-27{
background-image: url('/static/img/home_hero/store-27.png');
}
.hero-28{
background-image: url('/static/img/home_hero/store-28.png');
}
.hero-29{
background-image: url('/static/img/home_hero/store-29.png');
}
.hero-30{
background-image: url('/static/img/home_hero/store-30.png');
}
.hero-31{
background-image: url('/static/img/home_hero/store-31.png');
}
.hero-32{
background-image: url('/static/img/home_hero/store-32.png');
}
.hero-33{
background-image: url('/static/img/home_hero/store-33.png');
}
.hero-34{
background-image: url('/static/img/home_hero/store-34.png');
}
.hero-35{
background-image: url('/static/img/home_hero/store-35.png');
}
.hero-36{
background-image: url('/static/img/home_hero/store-36.png');
}
.hero-37{
background-image: url('/static/img/home_hero/store-37.png');
}
.hero-38{
background-image: url('/static/img/home_hero/store-38.png');
}
.hero-39{
background-image: url('/static/img/home_hero/store-39.png');
}
.hero-40{
background-image: url('/static/img/home_hero/store-40.png');
}
.hero-41{
background-image: url('/static/img/home_hero/store-41.png');
}
.hero-42{
background-image: url('/static/img/home_hero/store-42.png');
}
.hero-43{
background-image: url('/static/img/home_hero/store-43.png');
}
.hero-44{
background-image: url('/static/img/home_hero/store-44.png');
}
.hero-45{
background-image: url('/static/img/home_hero/store-45.png');
}
.hero-46{
background-image: url('/static/img/home_hero/store-46.png');
}
.hero-47{
background-image: url('/static/img/home_hero/store-47.png');
}
.hero-48{
background-image: url('/static/img/home_hero/store-48.png');
}
.hero-49{
background-image: url('/static/img/home_hero/store-49.png');
}
.hero-50{
background-image: url('/static/img/home_hero/store-50.png');
}
.hero-51{
background-image: url('/static/img/home_hero/store-51.png');
}
.hero-52{
background-image: url('/static/img/home_hero/store-52.png');
}
.hero-53{
background-image: url('/static/img/home_hero/store-53.png');
}
.hero-54{
background-image: url('/static/img/home_hero/store-54.png');
}
.hero-55{
background-image: url('/static/img/home_hero/store-55.png');
}
.hero-56{
background-image: url('/static/img/home_hero/store-56.png');
}
.hero-57{
background-image: url('/static/img/home_hero/store-57.png');
}
.hero-58{
background-image: url('/static/img/home_hero/store-58.png');
}
.hero-59{
background-image: url('/static/img/home_hero/store-59.png');
}
.hero-60{
background-image: url('/static/img/home_hero/store-60.png');
}
.hero-61{
background-image: url('/static/img/home_hero/store-61.png');
}
.hero-62{
background-image: url('/static/img/home_hero/store-62.png');
}
.hero-63{
background-image: url('/static/img/home_hero/store-63.png');
}
.hero-64{
background-image: url('/static/img/home_hero/store-64.png');
}
.hero-65{
background-image: url('/static/img/home_hero/store-65.png');
}
.hero-66{
background-image: url('/static/img/home_hero/store-66.png');
}
.hero-67{
background-image: url('/static/img/home_hero/store-67.png');
}
.hero-68{
background-image: url('/static/img/home_hero/store-68.png');
}
.hero-69{
background-image: url('/static/img/home_hero/store-69.png');
}
.hero-70{
background-image: url('/static/img/home_hero/store-70.png');
}
.hero-71{
background-image: url('/static/img/home_hero/store-71.png');
}
.hero-72{
background-image: url('/static/img/home_hero/store-72.png');
}
.hero-73{
background-image: url('/static/img/home_hero/store-73.png');
}
.hero-74{
background-image: url('/static/img/home_hero/store-74.png');
}