<!-- Start Nav -->
<nav class="navbar navbar-static-top navbar-inverse" role="navigation" ng-controller="NavController">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HonBot</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <form ng-submit="search()" class="navbar-form navbar-left">
        <input type="text" ng-model="nick" class="form-control col-lg-8" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/player/">Players</a></li>
        <li><a href="/match/">Matches</a></li>
        <li><a href="/hero/">Heroes</a></li>
        <li><a href="/item/">Items</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav><!-- END NAV -->