<nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavController" bs-navbar>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">honbot</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
            <form ng-submit="search()" class="navbar-form navbar-left" role="search">
                <input type="text" ng-model="nick" class="form-control col-lg-8" placeholder="Username" autocorrect="off" autocapitalize="off" spellcheck="false">
            </form>
            <ul class="nav navbar-nav">
                <li data-match-route="/player*"><a href="/items/">Players</a></li>
                <li data-match-route="/match*"><a href="/match/">Matches</a></li>
                <li><a href="/items/">Items</a></li>
                <li><a href="/items/">Heroes</a></li>
            </ul>
        </div>
    </div>
</nav>